.about-guide-section {
  padding: 78px 0px 112px 0px;
}

.section-title {
  font-family: 'Forum';
  font-size: 44px;
  font-weight: 400;
  line-height: 1.8;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 88px;
}

.directions-container {
  display: flex;
  align-items: center;

  margin-left: 2px;
  margin-bottom: 32px;
}

.tag {
  color: var(--dusty-blue);
  font-family: 'Forum';
  font-size: 38px;
  line-height: normal;
  text-transform: uppercase;
  width: 76px;
  padding: 10px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  transform: rotate(-9deg);
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid var(--dusty-blue);
}

.about-guide-list {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
  margin-left: auto;
}

.about-guide-list-item {
  display: flex;
  width: 236px;
  padding: 16px;
  justify-content: center;
  border-radius: 18px;
  background: var(--dusty-blue);
}

.about-guide-list-item-text {
  color: var(--bg-white);
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
}

.about-guide-message {
  font-family: 'Forum';
  font-size: 22px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.about-guide-first-img {
  margin-left: auto;
}

.about-guide-first-img,
.about-guide-second-img {
  border-radius: 24px;
  width: 238px;
  height: 276px;
}

.caption-container {
  width: 248px;
  padding: 8px 10px;

  border-radius: 12px;
  background: var(--dusty-blue);
}

/* Поиціонування зображень */

.first-img-container {
  margin-right: auto;
  max-height: 322px;
  margin-bottom: 104px;
}
.second-img-container {
  margin: auto;
  max-height: 326px;
}

/* Позиціонування підписів до світлин*/

.first-photo-caption,
.second-photo-caption {
  color: var(--ghost-white);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.photo-caprion-bold {
  font-weight: 700;
}

.first-photo-caption {
  position: relative;
  top: -60px;
  left: -39px;
}

.second-photo-caption {
  position: relative;
  top: -38px;
  left: 68px;
}

/* TABLET*/

@media screen and (min-width: 768px) {
  .about-guide-section {
    padding: 100px 0 60px 0;
  }

  .section-title {
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: 48px;
  }

  .directions-container {
    gap: 20px;
    flex-wrap: nowrap;
    margin-bottom: 44px;
  }

  .tag {
    font-size: 48px;
    width: 107px;
    margin-left: 4px;
    transform: rotate(-14deg);
    border-radius: 18px;
  }

  .about-guide-list {
    flex-wrap: wrap;
    gap: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-guide-list-item-text {
    line-height: 1.7;
  }

  .about-guide-message {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 40px;
  }

  .about-guide-first-img,
  .about-guide-second-img {
    width: 446px;
    height: 556px;
  }

  .caption-container {
    width: 433px;
    padding: 14px 16px;
  }

  .first-photo-caption,
  .second-photo-caption {
    font-size: 16px;
    line-height: 1.75;
  }

  /* Поиціонування зображень */

  .first-img-container {
    max-height: 592px;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .second-img-container {
    margin: auto;
    max-height: 556px;
  }

  /* Позиціонування підписів до світлин*/

  .first-photo-caption {
    top: -164px;
    left: -39px;
  }

  .second-photo-caption {
    top: -136px;
    left: 256px;
  }
}

/* ======================DESKTOP 1440px================ */

@media screen and (min-width: 1440px) {
  .about-guide-section {
    padding: 140px 0 70px 0;
  }

  .section-title {
    font-size: 80px;
    line-height: 1.1;
  }

  .directions-container {
    margin-left: 232px;
  }

  .about-guide-list {
    justify-content: flex-start;
    max-width: 800px;
    margin: 0 auto 0 20px;
  }

  .about-guide-list-item-text {
    font-size: 18px;
  }

  .about-guide-message {
    max-width: 896px;
    margin: 0 auto 54px auto;
  }

  .figure-container {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .first-img-container,
  .second-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 433px;
    margin: 0;
  }

  .about-guide-first-img,
  .about-guide-second-img {
    width: 100%;
    height: auto;
    border-radius: 24px;
  }

  .first-photo-caption,
  .second-photo-caption {
    font-size: 18px;
    line-height: 1.55;
  }

  /* Позиціонування підписів до світлин*/
  .first-photo-caption {
    top: -190px;
    left: -234px;
  }

  .second-photo-caption {
    top: -190px;
    left: 234px;
  }
}
