.meditation-section {
  padding: 80px 0 40px 0;
  background-color: var(--jet-black);
}

.meditation-title {
  font-family: 'Forum';
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--ghost-white);
  margin-bottom: 36px;
}

.meditation-title span {
  display: block;
}

.meditation-text {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 30px;
  color: var(--ghost-white);
}

.accent-color {
  color: var(--luxe-gold);
}

.meditation-video {
  width: 320px;
  height: 180px;
  border-radius: 26px;
}

/* ФАСАД YouTube до кліку */

.meditation-video-facade {
  position: relative;
  background-color: #9b9b9b;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 26px;
  filter: grayscale(100%);
}

.meditation-video-facade:hover,
.meditation-video-facade:focus {
  filter: grayscale(0);
  outline: none;
}
.meditation-video-facade:has(:focus) {
  filter: grayscale(0);
  outline: none;
}

.meditation-video-facade::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

/* Кнопка Play */
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: auto;
}

.gift-meditation-icon {
  fill: white;
  width: 46px;
  height: 46px;
}

.play-icon:hover .gift-meditation-icon,
.play-icon:focus .gift-meditation-icon {
  fill: var(--luxe-gold);
}

/* TABLET */

@media screen and (min-width: 768px) {
  .meditation-section {
    padding: 100px 0 60px 0;
  }

  .meditation-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    font-size: 54px;
    line-height: 1.25;
    margin-bottom: 48px;
  }

  .meditation-text {
    text-align: center;
    margin-bottom: 44px;
  }

  .meditation-video {
    width: 690px;
    height: 380px;
  }

  .meditation-video-facade {
    width: 690px;
    height: 388px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .meditation-section {
    padding: 140px 0 70px 0;
  }

  .meditation-title {
    max-width: 896px;
    column-gap: 30px;
    font-size: 80px;
    line-height: 1.12;
    margin: 0 auto 60px auto;
  }

  .meditation-text {
    max-width: 896px;
    font-size: 18px;
    line-height: 1.55;
    margin: 0 auto 44px auto;
  }

  .meditation-video {
    width: 1360px;
    height: 765px;
  }

  .meditation-video-facade {
    width: 1360px;
    height: 760px;
  }

  .gift-meditation-icon {
    width: 60px;
    height: 60px;
  }
}
