.meditation-section {
  padding: 80px 0 40px 0;
  background-color: var(--jet-black);
}

.meditation-title {
  font-family: 'Forum';
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--ghost-white);
  margin-bottom: 36px;
}

.meditation-title span {
  display: block;
}

.meditation-text {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 30px;
  color: var(--ghost-white);
}

.accent-color {
  color: var(--luxe-gold);
}

/* Відео контейнер */
.meditation-video {
  width: 100%;
  max-width: 1360px;
  aspect-ratio: 16 / 9;
  border-radius: 26px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/* Фасад */
.meditation-video-facade {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 26px;
  cursor: pointer;
}

/* Шпалери */
.meditation-custom-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  z-index: 1;
}

.meditation-video-facade:hover .meditation-custom-bg,
.meditation-video-facade:focus .meditation-custom-bg {
  filter: grayscale(0%);
}

/* Кнопка Play*/
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
  padding: 0;
}

.gift-meditation-icon {
  fill: white;
  width: 46px;
  height: 46px;
  transition: fill 0.3s ease;
}

.play-icon:hover .gift-meditation-icon,
.play-icon:focus .gift-meditation-icon {
  fill: var(--luxe-gold);
}

/* TABLET */
@media (min-width: 768px) {
  .meditation-section {
    padding: 100px 0 60px 0;
  }

  .meditation-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    font-size: 54px;
    line-height: 1.25;
    margin-bottom: 48px;
  }

  .meditation-text {
    text-align: center;
    margin-bottom: 44px;
  }

  .gift-meditation-icon {
    width: 50px;
    height: 50px;
  }
}

/* DESCTOP */

@media (min-width: 1440px) {
  .meditation-section {
    padding: 140px 0 70px 0;
  }

  .meditation-title {
    max-width: 896px;
    column-gap: 30px;
    font-size: 80px;
    line-height: 1.12;
    margin: 0 auto 60px auto;
  }

  .meditation-text {
    max-width: 896px;
    font-size: 18px;
    line-height: 1.55;
    margin: 0 auto 44px auto;
  }

  .gift-meditation-icon {
    width: 60px;
    height: 60px;
  }
}
