.matrix-services {
  padding: 40px 0 40px 0;
}

.matrix-services-section-title {
  font-family: 'Forum';
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.matrix-services-wrapper {
  overflow: hidden;
  width: 100%;
}

.matrix-services-list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;

  transition: var(--timing-function);
  will-change: var(--timing-function);
}

.matrix-services-list-item {
  display: flex;
  min-width: 304px;
  height: 509px;
  padding: 30px 16px;
  flex-direction: column;
  align-items: center;

  border-radius: 26px;
  border: 1.2px solid var(--jet-black);
}

.time-svg-wrapper,
.telegram-svg-wrapper {
  display: flex;
}
.matrix-services-time {
  display: flex;
  font-size: 16px;
  line-height: 1.56;
  align-items: center;
  column-gap: 10px;
  margin: 0 0 24px auto;
}

.matrix-services-list-title {
  color: var(--ghost-white);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;

  padding: 10px;
  margin-bottom: 18px;

  border-radius: 12px;
  background: var(--dusty-blue);
}

.current-text {
  font-size: 16px;
  line-height: 1.56;
}

.matrix-services-text-wrapper {
  text-align: center;
  margin-bottom: 24px;
}

.matrix-services-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.matrix-services-gift-text {
  display: flex;
  column-gap: 18px;
  margin-bottom: 32px;
}

.matrix-services-btn {
  display: flex;
  padding: 12px 14px;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  line-height: 1.56;
  margin-top: auto;

  border-radius: 18px;
  border: 1px solid var(--jet-black);
}

.matrix-services-btn:hover .telegram-svg-wrapper,
.matrix-services-btn:focus .telegram-svg-wrapper {
  fill: var(--luxe-gold);
}

.arrow-btn-wrapper {
  display: none;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .matrix-services {
    padding: 60px 0 60px 0;
  }

  .matrix-services-section-title {
    font-size: 54px;
    line-height: 1.25;
    margin-bottom: 48px;
  }

  .matrix-services-list {
    column-gap: 16px;
  }

  .matrix-services-list-item {
    min-width: 665px;
    padding: 40px 24px;
    border-radius: 26px;
  }

  .matrix-services-time {
    column-gap: 12px;
    line-height: 1.75;
  }

  .matrix-services-list-title {
    font-size: 30px;
    line-height: 1.4;
    align-self: stretch;
    padding: 12px;
    margin-bottom: 24px;
  }

  .matrix-services-text-wrapper {
    margin-bottom: 32px;
  }

  .current-text {
    line-height: 1.75;
  }

  .matrix-services-price {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .matrix-services-gift-text {
    display: flex;
    margin-right: auto;
  }

  .matrix-services-btn {
    padding: 14px 18px;

    font-weight: 700;
    line-height: 1.55;
  }
}

/* DESCTOP */

@media screen and (min-width: 1440px) {
  .matrix-services {
    padding: 70px 0 70px 0;
  }

  .matrix-services-section-title {
    font-size: 80px;
    line-height: 1.12;
    margin-bottom: 80px;
  }

  .matrix-services-list {
    column-gap: 30px;
    margin-bottom: 54px;
  }

  .matrix-services-list-item {
    min-width: 664px;
    padding: 40px 24px;
    border-radius: 26px;
  }

  .matrix-services-time {
    column-gap: 12px;
    line-height: 1.55;
  }

  .matrix-services-list-title {
    font-size: 36px;
    line-height: 1.16;
  }

  .current-text {
    font-size: 18px;
    line-height: 1.56;
  }

  .arrow-btn-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }

  .arrow-btn {
    padding: 16px 14px;
    border: inherit;
    background: inherit;
    border-radius: 100px;
  }

  .arrow-btn:hover .arrow-svg,
  .arrow-btn:focus .arrow-svg {
    stroke: var(--luxe-gold);
    transform: var(--timing-function);
  }

  .arrow-btn:hover,
  .arrow-btn:focus {
    outline: none;
  }

  /* Анімування каруселі */

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-from-left {
    animation: var(--timing-function);
  }

  .animate-from-right {
    animation: var(--timing-function);
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-8px);
    }
    50% {
      transform: translateX(6px);
    }
    75% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .shake {
    animation: shake 0.4s ease;
  }
}
