.regres-section {
  flex-shrink: 0;
  background: var(--dusty-blue);
}
.regres-main-title {
  color: var(--bg-white);
  text-align: center;
  font-family: Forum;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18; /* 118.182% */
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 36px;
}
.regres-inclined-box {
  display: flex;
  transform: rotate(-9deg);
  padding: 0px 10px 18px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--bg-white);
  color: var(--bg-white);
  font-family: Forum;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 194px;
  height: 62px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.regres-thats-are {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}
.regres-thats-are li {
  color: var(--dusty-blue);
  text-align: center;
  font-size: 16px;
  line-height: 1.56; /* 156.25% */
  padding: 14px 16px;
  border-radius: 12px;
  background: var(--ghost-white);
  width: auto;
}
.health-church-box {
  display: flex;
  padding: 30px 20px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-top: 1px solid var(--ghost-white);
  border-bottom: 1px solid var(--ghost-white);
  margin-bottom: 36px;
}
.health-church-title {
  align-self: stretch;
  color: var(--ghost-white);
  text-align: center;
  font-family: Forum;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18; /* 118.182% */
  text-transform: uppercase;
}
.health-church-content {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  align-self: stretch;
  color: var(--ghost-white);
  text-align: center;
  font-family: Forum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.regres-little-title {
  color: var(--ghost-white);
  font-size: 16px;
  line-height: 1.56; /* 156.25% */
  margin-bottom: 28px;
}
.regres-little-content {
  color: var(--ghost-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
}
.regres-little-list {
  color: var(--ghost-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
  margin-bottom: 60px;
}
.regres-little-list li::marker {
  font-size: 0.7em;
}
.regres-answers {
  color: var(--bg-white);
  text-align: center;
  font-family: Forum;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18; /* 118.182% */
  text-transform: uppercase;
  margin-bottom: 36px;
}
.regres-answers-list {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  color: var(--ghost-white);
  font-size: 16px;
  line-height: 1.56; /* 156.25% */
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
  margin-bottom: 32px;
}
.regres-answers-list li::marker {
  font-size: 0.7em;
}

.regres-pic img {
  width: 319.041px;
  height: 307px;
  flex-shrink: 0;
  aspect-ratio: 319.04/307;
  border-radius: 400px;
  background: url(/src/img/regres/regres-desk-1x.jpg) lightgray 50% / cover
    no-repeat;
}
.regres-pic {
  display: block;
  padding-bottom: 60px;
}
.regres-hypno-box {
  display: flex;
  width: 320px;
  padding: 30px 16px;
  flex-direction: column;
  align-items: center;
  border-radius: 26px;
  border: 1.2px solid var(--ghost-white);
  margin-bottom: 60px;
}
.regres-hypno-time {
  display: flex;
  gap: 11px;
  margin-left: auto;
  color: var(--ghost-white);
  text-align: center;
  font-size: 16px;
  line-height: 1.56; /* 156.25% */
  margin-bottom: 24px;
}
.regres-hypno-title {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--ghost-white);
  color: var(--dusty-blue);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25; /* 125% */
  text-transform: uppercase;
  margin-bottom: 18px;
}
.regres-hypno-content {
  align-self: stretch;
  color: var(--ghost-white);
  text-align: center;
  font-size: 16px;
  line-height: 1.56; /* 156.25% */
  margin-bottom: 24px;
}
.regres-hypno-price {
  align-self: stretch;
  color: var(--ghost-white);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  text-transform: uppercase;
  margin-bottom: 18px;
}
.regres-hypno-gift {
  display: flex;
  gap: 18px;
  color: var(--ghost-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56; /* 156.25% */
  fill: var(--ghost-white);
  margin-bottom: 32px;
}
.regres-hypno-gift svg {
  width: 24px;
  height: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.regres-hypno-gift p {
  width: 246px;
  height: 75px;
}
.regres-tg {
  margin-top: 0;
  color: var(--ghost-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.56; /* 156.25% */
}
.regres-slogan {
  color: var(--ghost-white);
  text-align: center;
  font-family: Forum;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27; /* 127.273% */
  text-transform: uppercase;
  padding-bottom: 32px;
}
.regres-bg-img {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 218px;
  background-image: url('/img/regres/desert-bg-mobile-1x.jpg');
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .regres-bg-img {
    background-image: url('/img/regres/desert-bg-mobile-2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .regres-main-title {
    font-size: 54px;
    line-height: 1.26;
    padding-top: 60px;
    padding-bottom: 48px;
  }
  .regres-is {
    display: flex;
    gap: 20px;
    height: 288px;
    justify-content: start;
    margin-left: 10px;
    align-items: center;
    margin-bottom: 44px;
  }
  .regres-inclined-box {
    white-space: nowrap;
    width: 237px;
    height: 77px;
    transform: rotate(-14deg);
    padding: 0px 10px 24px 10px;
    font-size: 48px;
    margin: 0;
  }
  .regres-thats-are {
    margin: 0px;
    width: 320px;
    height: 288px;
  }
  .regres-thats-are li {
    line-height: 1.75;
    padding: 16px;
  }
  .health-church-box {
    padding: 40px;
    gap: 16px;
    margin-bottom: 34px;
  }
  .health-church-title {
    font-size: 54px;
    line-height: 1.26;
  }
  .health-church-content {
    width: 665px;
    font-size: 30px;
    line-height: 1.27;
  }
  .regres-little-title {
    line-height: 1.75;
    margin-bottom: 0;
  }
  .regres-little-content {
    line-height: 1.75;
  }
  .regres-little-list {
    line-height: 1.75;
    margin-bottom: 80px;
  }
  .regres-answers {
    font-size: 54px;
    line-height: 1.26;
    margin-bottom: 48px;
  }
  .regres-answers-list {
    width: 688px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 16px;
    margin-bottom: 32px;
  }
  .regres-answers-list li {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .regres-pic img {
    width: 428px;
    height: 412px;
    flex-shrink: 0;
    aspect-ratio: 428.16/412;
  }
  .regres-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }
  .regres-hypno-box {
    display: flex;
    width: 100%;
    padding: 40px 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 26px;
    border: 1.2px solid var(--ghost-white);
    margin-bottom: 80px;
  }
  .regres-hypno-time {
    gap: 12px;
    line-height: 1.75;
    margin-bottom: 32px;
  }
  .regres-hypno-title {
    padding: 12px;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .regres-hypno-content {
    line-height: 1.75;
    margin-bottom: 32px;
    width: 100%;
  }
  .regres-hypno-price {
    font-size: 28px;
    line-height: 0.85;
    margin-bottom: 24px;
  }
  .regres-hypno-gift {
    line-height: 1.75;
    margin-bottom: 44px;
  }
  .regres-hypno-gift p {
    width: 100%;
    height: auto;
  }
  .regres-tg {
    width: 189px;
    font-size: 18px;
  }
  .regres-slogan {
    font-size: 30px;
    padding-bottom: 60px;
  }
  .regres-bg-img {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 276px;
    background-image: url('/img/regres/desert-bg-tablet-1x.png');
    filter: grayscale(100%);
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .regres-bg-img {
      background-image: url('/img/regres/desert-bg-tablet-2x.png');
      filter: grayscale(100%);
    }
  }
}

@media screen and (min-width: 1440px) {
  .regres-main-title {
    font-size: 80px;
    line-height: 1.13;
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .regres-is {
    width: 896px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 44px;
  }
  .regres-inclined-box {
    width: 309px;
    height: 95px;
    font-size: 64px;
  }
  .regres-thats-are {
    width: 553px;
    height: 212px;
  }
  .regres-thats-are li {
    font-size: 18px;
    line-height: 1.56;
  }
  .church-desk-style {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    border-top: 1px solid var(--ghost-white);
    border-bottom: 1px solid var(--ghost-white);
    align-items: center;
    margin-bottom: 140px;
  }
  .regres-little-conteiner {
    width: 665px;
  }
  .health-church-box {
    width: 665px;
    padding: 0;
    position: static;
    margin: 0;
    border: none;
  }
  .health-church-title {
    font-size: 80px;
    line-height: 1.13;
  }
  .health-church-content {
    font-size: 32px;
    line-height: normal;
  }
  .regres-little-title {
    font-size: 18px;
    line-height: 1.56;
  }
  .regres-little-content {
    font-size: 18px;
    line-height: 1.56;
  }
  .regres-little-content-desk {
    margin-bottom: 25px;
  }
  .regres-little-list {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 0;
  }
  .regres-answers {
    font-size: 80px;
    line-height: 1.13;
    margin-bottom: 80px;
  }
  .regres-pic img {
    width: 434px;
    height: 418px;
    aspect-ratio: 434/418;
  }
  .regres-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .regres-relative-box {
    position: relative;
  }
  .regres-answers-list {
    position: absolute;
    width: 1128px;
    display: grid;
    right: 80px;
    grid-template-columns: 1fr 1fr;
    column-gap: 435px;
    row-gap: 87px;
    margin-bottom: 32px;
  }
  .regres-answers-list li {
    font-size: 18px;
    line-height: 1.56;
    width: 320px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .regres-hypno-box {
    width: 896px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  .regres-hypno-time {
    font-size: 18px;
    text-align: center;
    align-items: center;
    line-height: 1.56;
    margin-bottom: 32px;
  }
  .regres-hypno-title {
    font-size: 36px;
    line-height: 1.17;
  }
  .regres-hypno-content {
    font-size: 18px;
    line-height: 1.56;
  }
  .regres-hypno-price {
    font-size: 29px;
    line-height: 0.83;
  }
  .regres-hypno-gift {
    font-size: 18px;
    line-height: 1.56;
  }
  .regres-slogan {
    font-size: 32px;
    line-height: 1.25; /* 125% */
    width: 596px;
    margin-left: auto;
    margin-right: auto;
  }
  .regres-bg-img {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    z-index: 999;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 518px;
    aspect-ratio: 720/259;
    background-image: url('/img/regres/desert-bg-desk-1x.png');
    filter: grayscale(100%);
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .regres-bg-img {
      background-image: url('/img/regres/desert-bg-desk-1x.png');
      filter: grayscale(100%);
    }
  }
}
