<section class="">
  <div class="container">
    <h2 class="section-title">ВАШ ПРОВІДНИК</h2>
    <div class="directions-container">
      <p class="tag">Я-</p>
      <ul role="list" class="about-guide-list">
        <li class="about-guide-list-item">
          <p class="list-item-text">АСТРОЛОГ</p>
        </li>
        <li class="about-guide-list-item">
          <p class="list-item-text">НУМЕРОЛОГ</p>
        </li>
        <li class="about-guide-list-item">
          <p class="list-item-text">ТАРОЛОГ</p>
        </li>
        <li class="about-guide-list-item">
          <p class="list-item-text">ПРОВІДНИК РЕЙКІ</p>
        </li>
        <li class="about-guide-list-item">
          <p class="list-item-text">ПРОВІДНИК ГРИ “ЛІЛА”</p>
        </li>
        <li class="about-guide-list-item">
          <p class="list-item-text">РЕГРЕСОЛОГ</p>
        </li>
      </ul>
    </div>
    <p class="about-guide-message">
      Я не просто працюю з енергією – я проводжу тебе туди, де починається
      істинне: твоя Душа, твоя Правда, твоя Сила
    </p>

    <figure class="first-img-container">
      <picture class="img-container">
        <!-- Desktop screen 1440 -->

        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about-guide/first-pic-desctop@1x.jpg 1x,
            ./img/about-guide/first-pic-desctop@2x.jpg 2x
          "
          type="image/jpeg"
        />

        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about-guide/first-pic-tablet@1x.jpg 1x,
            ./img/about-guide/first-pic-tablet@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <!-- Mobile screen -->

        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about-guide/first-pic-mobile@1x.jpg 1x,
            ./img/about-guide/first-pic-mobile@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          class="about-guide-first-img"
          src="./img/about-guide/first-pic-mobile@1x.jpg "
          alt="Портрет провідниці: поєднання астрології, Рейкі, нумерології та глибинних практик."
          loading="lazy"
        />
      </picture>

      <figcaption class="first-photo-caption caption-container">
        Мій шлях – це поєднання астрології, Рейкі, нумерології та глибинних
        практик.
      </figcaption>
    </figure>

    <figure class="second-img-container">
      <picture>
        <!-- Desktop screen 1440 -->

        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about-guide/second-pic-desctop@1x.jpg 1x,
            ./img/about-guide/second-pic-desctop@2x.jpg 2x
          "
          type="image/jpeg"
        />

        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about-guide/second-pic-tablet@1x.jpg 1x,
            ./img/about-guide/second-pic-tablet@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <!-- Mobile screen -->

        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about-guide/second-pic-mobile@1x.jpg 1x,
            ./img/about-guide/second-pic-mobile@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          class="about-guide-second-img"
          src="./img/about-guide/second-pic-mobile@1x.jpg "
          alt="Портрет провідниці: робота з енергією, голосом, інтуїцією — з любов'ю і глибиною."
          loading="lazy"
        />
      </picture>

      <figcaption class="second-photo-caption caption-container">
        Мій підхід – працюю з енергією, голосом, інтуїцією. Все через любов,
        глибоко і довго.
      </figcaption>
    </figure>
  </div>
</section>
