<section class="energy-protection-section" id="energy-protection-id">
  <div class="container">
    <h2 class="energy-protection-first-title">Енергетичне очищення + захист</h2>
    <div class="energy-protection-block-wrapper">
      <div class="energy-protection-wrapper">
        <svg
          class="energy-protection-hand-icon"
          role="img"
          aria-label="Зображення руки з візерунками"
        >
          <use href="./img/icon-hand.svg#icon-hand"></use>
        </svg>
        <div class="energy-protection-text-wrapper">
          <h3 class="energy-protection-second-title">
            Захист душі, тіла та долі
          </h3>
          <p class="energy-protection-pre-text">
            Я можу екологічно, м’яко і глибоко допомогти розплутати твій
            енергетичний вузол
          </p>
        </div>
      </div>
      <div class="energy-protection-text-container">
        <h4 class="energy-protection-block-title bold-text">
          Коли в житті все починає "ламатися"...
        </h4>
        <p class="energy-protection-first-text">
          Коли в житті починає «ламатися» все: від здоров’я до стосунків, коли
          постійно відчувається тиск, страхи, тривоги, порожнеча — це не завжди
          про психологію. Дуже часто це про енергію. Про те, що в полі людини
          накопичилось забагато чужого: магічні впливи, енергетичні кріплення,
          прокльони, заздрість, втручання вольових структур, підключки до чужих
          егрегорів.
        </p>
        <p class="energy-protection-second-text">
          Я проводжу енергетичне очищення + захист, використовуючи:
        </p>
        <ul class="energy-protection-first-list">
          <li class="energy-protection-list-item">
            Таро (безкоштовна діагностика);
          </li>
          <li class="energy-protection-list-item">
            Підбір сприятливого дня через Ведичну астрологію (Джйотиш);
          </li>
          <li class="energy-protection-list-item">
            Канал Творця, Ефіру, Ангелів і Архангелів;
          </li>
          <li class="energy-protection-list-item">
            Стихії та енергію білої магії;
          </li>
          <li class="energy-protection-list-item">
            Звернення до егрегору людини і роду;
          </li>
          <li class="energy-protection-list-item">
            Молитви, світлу магію і захисні ритуали;
          </li>
        </ul>
        <p class="energy-protection-third-text">
          Повне зняття негативу на всіх рівнях: енергетичному, емоційному,
          ментальному, кармічному. Тільки після цього — я ставлю захист! Без
          захисту очищення не працює глибоко і довго.
        </p>
        <p class="energy-protection-fourth-text">
          Глибоке очищення від негативу на всіх рівнях — енергетичному,
          емоційному, ментальному та кармічному. <br />Лише після цього я ставлю
          індивідуальний захист, який допомагає зберегти результат надовго.
          <br />
          Без енергозахисту очищення не працює глибоко і не тримається довго.
        </p>
      </div>
    </div>
    <div>
      <ul class="energy-protection-second-list">
        <li class="energy-protection-second-list-item-first-element">
          Спокій та впевненість у серці
        </li>
        <li class="energy-protection-second-list-item-second-element">
          Зняття магічних впливів і емоційного тиску
        </li>
        <li class="energy-protection-second-list-item-third-element">
          Легкість і гармонія в тілі
        </li>
        <li class="energy-protection-second-list-item-fourth-element">
          <svg
            class="energy-protection-road-svg"
            role="img"
            aria-label="Зображення звивистого шляху у вигляді тонкої лінії"
          >
            <use href="./img/sprite.svg#icon-figure-road"></use>
          </svg>
        </li>
        <li class="energy-protection-second-list-item-fifth-element">
          Відновлення життєвої енергії
        </li>
        <li class="energy-protection-second-list-item-sixth-element">
          Захист від негативу і агресії
        </li>
        <li class="energy-protection-second-list-item-seventh-element">
          Ясність думок і рішень
        </li>
      </ul>
    </div>
    <div class="energy-protection-card-wrapper">
      <p class="energy-protection-card-time">
        <span
          ><svg
            class="energy-potection-time-svg"
            width="24"
            height="24"
            aria-label="Іконка годинника"
            role="img"
          >
            <use href="./img/matrix-sprite.svg#icon-time"></use>
          </svg> </span
        >90–120 хв
      </p>
      <h3 class="energy-protection-card-title">Сеанс очищення + Захист</h3>
      <p class="energy-protection-text bold-text">Для кого це?</p>
      <p class="energy-protection-text">
        Якщо тобі важко дихати повними грудьми; якщо ніби постійно "витікає"
        енергія; якщо життя ніби зупинилось або йде "не твоїм шляхом"— це знак.
        <br />Твоя душа хоче повернутись додому — до себе. <br />Моя робота —
        створити безпечний, м’який простір, де це можливо.
      </p>

      <p class="energy-protection-price">3000 uah</p>
      <p class="energy-protection-gift energy-protection-text">
        <span class="gift-svg"
          ><svg width="24" height="24" aria-label="Іконка подарунка" role="img">
            <use href="./img/matrix-sprite.svg#icon-gift"></use></svg></span
        >Персональна медитація під твій запит — для енергетичної стабілізації та
        інтеграції результату + підтримка від мене в чаті
      </p>
      <a
        class="energy-protection-link-btn"
        rel="noopener noreferrer"
        href="https://t.me/zviedarubka"
        title="Посилання на Телеграм"
        aria-label="Кнопка для переходу за посиланням в Телеграм"
        target="_blank"
        >Записатись
        <span class="telegram-svg-wrapper"
          ><svg width="29" height="30" aria-label="Іконка телеграму" role="img">
            <use href="./img/matrix-sprite.svg#icon-telegram"></use></svg></span
      ></a>
    </div>
  </div>
</section>
