<section class="faq-section">
  <div class="container faq-container">
    <h2 class="faq-title">ВАШІ ПОПУЛЯРНІ ПИТАННЯ</h2>
    <ul class="faq-accordion-container faq-list">
      <li class="ac faq-list-item">
        <h3 class="ac-header faq-list-item-title">
          <button type="button" class="ac-trigger faq-btn">
            <div class="button-text">
              Чи правда, що астрологія може передбачити майбутнє?
            </div>
            <svg class="open-close-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-star-faq"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            Ведична астрологія (Джйотиш) не “вгадує”, а показує найвірогідніші
            сценарії, періоди трансформацій, підтримки чи викликів. Це — не
            вирок, а інструмент для усвідомлених рішень.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item item-2">
        <h3 class="ac-header faq-list-item-title">
          <button type="button" class="ac-trigger faq-btn">
            <div class="button-text">
              Як проходить розклад Таро? Це щось страшне?
            </div>
            <svg class="open-close-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-star-faq"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            Ні, зовсім не страшне. Це розмова з твоїм підсвідомим. Я проводжу
            розклад у безпечному полі і пояснюю кожен крок, щоб ви відчували
            підтримку і розуміння, а не страх.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item item-3">
        <h3 class="ac-header faq-list-item-title">
          <button type="button" class="ac-trigger faq-btn">
            <div class="button-text">
              Що таке Матриця Долі і чим вона корисна?
            </div>
            <svg class="open-close-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-star-faq"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            Матриця Долі — це точна діагностика твоїх кармічних задач, талантів
            та програм у сферах стосунків, грошей і здоров’я. Вона допомагає
            зрозуміти причини поточних ситуацій і дає чіткі відповіді на
            запитання "чому саме так?" та "як змінити ситуацію на краще?".
          </p>
        </div>
      </li>
      <li class="ac faq-list-item item-4">
        <h3 class="ac-header faq-list-item-title">
          <button type="button" class="ac-trigger faq-btn">
            <div class="button-text">Я боюсь регресії. Це щось небезпечне?</div>
            <svg class="open-close-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-star-faq"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            Ні. Регресія — це м’яке занурення в глибини пам’яті Душі, де ми
            дивимось минулі життя або витоки травм. Це глибоко зцілююча
            практика, яку я проводжу з турботою та підтримкою.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item item-5">
        <h3 class="ac-header faq-list-item-title">
          <button type="button" class="ac-trigger faq-btn">
            <div class="button-text">Що таке Рейкі? Це релігія?</div>
            <svg class="open-close-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-star-faq"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            Ні, це не релігія, а духовна енергетична практика. Через руки я
            проводжу універсальну енергію для зцілення тіла, емоцій і душі. Під
            час сеансу клієнт просто розслабляється і приймає потік.
          </p>
        </div>
      </li>
      <li class="ac faq-list-item item-5">
        <h3 class="ac-header faq-list-item-title">
          <button type="button" class="ac-trigger faq-btn">
            <div class="button-text">Чи гра Ліла — це розвага?</div>
            <svg class="open-close-icon" width="30" height="30">
              <use href="./img/sprite.svg#icon-star-faq"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p class="ac-text faq-text">
            Ні, це глибока трансформаційна практика, яка через символічну гру
            відкриває твоє життя: показує, де ти зараз, що тебе блокує, та які
            рішення приведуть до твого зростання. Часто це призводить до
            прозрінь і "вау"-ефектів, що змінюють твоє сприйняття і шлях.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
