<footer class="footer-section">
  <div class="container">
    <nav class="nav">
      <ul class="footer-menu">
        <li>
          <a href="#vedic-astrology-id">Астрологія</a>
        </li>
        <li>
          <a href="#matrix-id">Матриця долі</a>
        </li>
        <li>
          <a href="#regres-id">Регресія</a>
        </li>
        <li>
          <a href="#retreat-id">Ретрити</a>
        </li>
        <li>
          <a href="#taro-id">Таро</a>
        </li>
        <li>
          <a href="#reiki-id">Рейкі</a>
        </li>
        <li>
          <a href="#energy-protection-id">Енергетичне</a>
        </li>
        <li>
          <a href="#hypno-id">Гіпнотерапія</a>
        </li>
        <li>
          <a href="#lila-id">Ліла</a>
        </li>
      </ul>
    </nav>
    <ul class="footer-social-list">
      <li>
        <a
          href="https://t.me/zviedarubka"
          class="social-link"
          aria-label="Telegram"
          target="_blank"
        >
          <svg class="social-svg" width="34" height="34">
            <use href="./img/sprite.svg#telegram-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/zvieda_regress_reiki/?igsh=MWVleThpYzB1ZWR1OQ%3D%3D"
          class="social-link"
          aria-label="Instagram"
          target="_blank"
        >
          <svg class="social-svg" width="34" height="34">
            <use href="./img/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer-links">
      <li>
        <a
          href="https://t.me/nara_web"
          class="social-link"
          aria-label="Telegram"
          target="_blank"
        >
          Designed by nara_web
        </a>
      </li>
      <li>
        <a
          href="https://t.me/dmytry_samburenko"
          class="social-link"
          aria-label="Instagram"
          target="_blank"
        >
          Created by Visual Web Co
        </a>
      </li>
    </ul>
    <button class="scroll-to-top" aria-label="Up">
      <svg class="up-svg" width="52" height="52">
        <use href="./img/sprite.svg#icon-up"></use>
      </svg>
    </button>
  </div>
</footer>
