<section class="meditation-section">
  <div class="container">
    <h3 class="meditation-title">
      <span>Я – любов.</span>
      <span>Я – гроші.</span>
      <span>Я – свобода</span>
    </h3>
    <p class="meditation-text">
      <span class="accent-color">Подарункова медитація </span>для пробудження
      жіночої енергії, відкриття серця та налаштування на потік любові, грошей і
      свободи. Відчуй свою силу в м’якості, нагадай собі, що ти – джерело, яке
      притягує достаток, задоволення й життя в гармонії.
    </p>

    <div class="meditation-video">
      <div class="meditation-video-facade" data-video-id="qqWL-hXJBIA">
        <picture>
          <source
            srcset="./img/gift-meditation/gift-med-wrapper-desctop@2x.jpg"
            media="(min-width: 1440px) and (min-resolution: 2dppx)"
          />
          <source
            srcset="./img/gift-meditation/gift-med-wrapper-desctop@1x.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/gift-meditation/gift-med-wrapper-tablet@2x.jpg"
            media="(min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx)"
          />
          <source
            srcset="./img/gift-meditation/gift-med-wrapper-tablet@1x.jpg"
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="./img/gift-meditation/gift-med-wrapper-mobile@2x.jpg"
            media="(max-width: 767px) and (min-resolution: 2dppx)"
          />
          <img
            class="meditation-custom-bg"
            src="./img/gift-meditation/gift-med-wrapper-desctop@1x.jpg"
            alt="Постер медитації"
          />
        </picture>

        <button class="play-icon" aria-label="Play video">
          <svg class="gift-meditation-icon" aria-hidden="true">
            <use href="./img/sprite.svg#play-icon" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
