<section class="meditation-section">
  <div class="container">
    <h3 class="meditation-title">
      <span>Я – любов.</span>
      <span>Я – гроші.</span>
      <span>Я – свобода</span>
    </h3>
    <p class="meditation-text">
      <span class="accent-color">Подарункова медитація </span>для пробудження
      жіночої енергії, відкриття серця та налаштування на потік любові, грошей і
      свободи. Відчуй свою силу в м’якості, нагадай собі, що ти – джерело, яке
      притягує достаток, задоволення й життя в гармонії.
    </p>
    <div class="meditation-video-wrapper">
      <iframe
        class="meditation-video"
        src="https://www.youtube.com/embed/qqWL-hXJBIA?si=73uXn9M8Mho-5MGW&modestbranding=1"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
