<header class="header">
  <div class="container header-container">
    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Кнопка для відкриття та закриття мобільного меню"
    >
      <svg class="mobile-menu-svg" aria-label="menu">
        <use
          href="./img/sprite.svg#mobile-menu-icon"
          width="30"
          height="30"
        ></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-menu">
        <li>
          <a href="#">Астрологія</a>
        </li>
        <li>
          <a href="#">Матриця долі</a>
        </li>
        <li>
          <a href="#">Регресія</a>
        </li>
        <li>
          <a href="#">Ретрити</a>
        </li>
        <li>
          <a href="#">Таро</a>
        </li>
        <li>
          <a href="#">Рейкі</a>
        </li>
        <li>
          <a href="#">Енергетичне</a>
        </li>
        <li>
          <a href="#">Гіпнотерапія</a>
        </li>
        <li>
          <a href="#">Ліла</a>
        </li>
      </ul>
    </nav>
    <button
      class="sound-btn"
      type="button"
      aria-label="Кнопка для відтворення аудіо файлу."
    >
      <div class="sound-btn-text">Відтворити</div>
      <svg class="sound-svg" aria-label="menu">
        <use href="./img/sprite.svg#play-icon" width="30" height="30"></use>
      </svg>
    </button>
    <audio id="bgMusic" src="../media/audio.mp3" loop></audio>
  </div>
</header>
