<header class="header">
  <div class="container header-container">
    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Кнопка для відкриття та закриття мобільного меню"
    >
      <svg class="mobile-menu-svg" aria-label="menu">
        <use
          href="./img/sprite.svg#mobile-menu-icon"
          width="30"
          height="30"
        ></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-menu">
        <li>
          <a href="#vedic-astrology-id">Астрологія</a>
        </li>
        <li>
          <a href="#matrix-id">Матриця долі</a>
        </li>
        <li>
          <a href="#regres-id">Регресія</a>
        </li>
        <li>
          <a href="#retreat-id">Ретрити</a>
        </li>
        <li>
          <a href="#taro-id">Таро</a>
        </li>
        <li>
          <a href="#reiki-id">Рейкі</a>
        </li>
        <li>
          <a href="#energy-protection-id">Енергетичне</a>
        </li>
        <li>
          <a href="#hypno-id">Гіпнотерапія</a>
        </li>
        <li>
          <a href="#lila-id">Ліла</a>
        </li>
      </ul>
    </nav>
    <button
      class="sound-btn"
      type="button"
      aria-label="Кнопка для відтворення аудіо файлу."
    >
      <div class="sound-btn-text">Відтворити</div>
      <svg class="sound-svg" aria-label="menu">
        <use href="./img/sprite.svg#play-icon" width="30" height="30"></use>
      </svg>
    </button>
    <audio id="bgMusic" src="../media/audio.mp3" loop></audio>
  </div>
</header>
