<section class="hypno-section" id="hypno-id">
  <div class="container">
    <h2 class="hypno-main-title">Гіпнотерапія</h2>
    <div class="hypno-is">
      <div class="hypno-inclined-box">яКЩО Є –</div>
      <ul class="hypno-thats-are">
        <li>МАГІЧНИЙ ТА ЕНЕРГЕТИЧНИЙ НЕГАТИВ</li>
        <li>ВІДНОВЛЕННЯ ПІСЛЯ ВТРАТ, ЗРАД, ВИГОРАННЯ</li>
        <li>ВНУТРІШНІ УСТАНОВКИ, СТРАХИ, ОБМЕЖЕННЯ</li>
        <li>БЛОКИ У ФІНАНСАХ, КОХАННІ, САМОРЕАЛІЗАЦІЇ</li>
        <li>ПСИХОСОМАТИКА, НАПРУГА, ВТРАТА ЕНЕРГІЇ</li>
      </ul>
    </div>
    <div class="lights-desk-style">
      <div class="health-lights-box">
        <h3 class="health-lights-title">Проведу до твого світла</h3>
        <p class="health-lights-content">
          Кожен сеанс унікальний — підключаючи ваш енергетичний код, канал
          Творця Я проводжу наповнення
        </p>
      </div>
      <div class="hypno-little-conteiner">
        <h4 class="hypno-little-title">
          Твоя трансформація через силу мого голосу
        </h4>
        <p class="hypno-little-content hypno-little-content-desk">
          Мій голос — мій інструмент. Через нього я проводжу потужну енергію,
          яка очищає не лише тіло, а й душу.<br />
          Під час гіпнотерапії я зчитую, трансформую та переписую енергії, які
          вже не служать тобі.
        </p>
        <p class="hypno-little-content-two">Сесія допоможе тобі:</p>
        <ul class="hypno-little-list">
          <li>
            зцілити емоційні травми — навіть ті, про які ти давно забула, але
            вони досі впливають на твоє життя.
          </li>
          <li>
            позбутися почуття провини, сорому, гніву — відновити внутрішню
            легкість та спокій.
          </li>
          <li>
            переписати негативні установки — "я недостойна", "я не зможу", "мене
            не люблять".
          </li>
          <li>
            вивільнити внутрішній ресурс — розкриття потенціалу, сили волі,
            натхнення діяти.
          </li>
          <li>
            покращити сон і зменшити тривожність — заспокоїти нервову систему,
            налаштуватися на відновлення.
          </li>
          <li>
            вийти з енергозалежних стосунків — закрити болючі зв’язки, повернути
            собі силу.
          </li>
        </ul>
        <p class="hypno-little-content-two">
          Це не просто релакс — це глибоке перепрошивання на рівні
          підсвідомості.<br />
          Підходить для тих, хто готовий до внутрішніх змін і хоче жити у своїй
          істині.
        </p>
      </div>
    </div>
    <div class="hypno-relative-box">
      <h3 class="hypno-answers">Відповіді, які ти отримаєш</h3>
      <ul class="hypno-answers-list">
        <li>полегшення в тілі та емоціях</li>
        <li>притягнення бажаного</li>
        <li>повернення енергії та життєвої сили</li>
        <li>зміна внутрішнього стану</li>
        <li>відчуття гармонії, ясності та легкості</li>
        <li>знятття хронічної напруги в тілі</li>
      </ul>
    </div>
    <picture class="hypno-pic">
      <source
        srcset="./img/hypno/hypno-circkle-desk.gif"
        media="(min-width:1440px)"
      />
      <source
        srcset="./img/hypno/hypno-circle-mobile.gif"
        media="(max-width:767px)"
      />
      <source
        srcset="./img/hypno/hypno-circkle-tablet.gif"
        media="(min-width:768px)"
      />
      <img
        src="./img/hypno/galaxy-desktop.gif"
        alt="galaxy"
        width="434"
        height="418"
      />
    </picture>
    <div class="little-hypno-box">
      <div class="little-hypno-time">
        <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
          <use
            xlink:href="./img/sprite.svg#icon-carbon-time"
            width="100%"
            height="100%"
          ></use>
        </svg>
        <p>2–2,5 години</p>
      </div>
      <h4 class="little-hypno-title">СЕАНС ГІПНОТЕРАПІЇ Зі МНОЮ</h4>
      <p class="little-hypno-content">
        <span class="custom-little-hypno-content">Що це?</span><br />
        Це не просто техніка. Це інтимна, трансформаційна подорож до себе.<br />
        І я поруч — як провідник, як енерготерапевт, як душа, яка допоможе тобі
        згадати, хто ти є насправді.
      </p>
      <p class="little-hypno-price">4000 UAH</p>
      <div class="little-hypno-gift">
        <svg width="24" height="24" aria-label="gift icon">
          <use href="./img/matrix-sprite.svg#icon-gift"></use>
        </svg>
        <p>
          Персональна медитація під твій запит та підтримка після регресії +
          підтримка від мене в чаті
        </p>
      </div>
      <div class="custum-btn-pos telegram-btn-text hypno-tg">
        <a
          class="telegram-btn"
          title="Telegram link"
          href="https://t.me/zviedarubka"
          rel="noopener noreferrer"
        >
          Записатись
          <svg class="telegram-svg" aria-label="telegram">
            <use
              href="./img/sprite.svg#telegram-icon"
              width="30"
              height="30"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <p class="hypno-slogan">
      Це не просто техніка.<br />
      Це мандрівка у себе – до правди, сили та нового життя
    </p>
    <div class="hypno-bg-img"></div>
  </div>
</section>
