<section class="lila-section" id="lila-id">
  <div class="container">
    <h2 class="lila-main-title">Гра “ЛІЛА” – дзеркало твоєї душі</h2>
    <div class="lila-is">
      <div class="lila-inclined-box">КОМУ?</div>
      <ul class="lila-thats-are">
        <li>ТИМ, ХТО ШУКАЄ ВІДПОВІДІ В СОБІ</li>
        <li>У ПЕРІОД ТРАНСФОРМАЦІЙ АБО КРИЗИ</li>
        <li>ТИМ, ХТО ХОЧЕ ГЛИБШЕ ЗРОЗУМІТИ СЕБЕ</li>
        <li>ПАРАМ, ЩО ПРАГНУТЬ КРАЩОГО РОЗУМІННЯ</li>
        <li>ЛЮДЯМ НА ДУХОВНОМУ ШЛЯХУ</li>
      </ul>
    </div>
    <div class="lila-desk-style">
      <div class="lila-lights-box">
        <h3 class="lila-lights-title">72 поля – 72 стани душі</h3>
        <p class="lila-lights-content">
          Кожен кидок кубика –як дзеркало життя. Випадковість? Ні. Тут усе має
          сенс.
        </p>
      </div>
      <div class="lila-little-conteiner">
        <h4 class="lila-little-title">
          Коли духовність зустрічається з інтуїцією
        </h4>
        <p class="lila-little-content lila-little-content-desk">
          Ліла виникла в давній Індії понад 2000 років тому. Її створили йоги та
          мудреці як спосіб передати глибокі духовні знання у формі гри. Вона
          символізує шлях душі через різні стани свідомості – від ілюзій до
          просвітлення. Історично Лілу використовували як частину духовних
          практик, а її поле відображає карту внутрішніх трансформацій.
        </p>
        <p class="lila-little-content-two">Як проходить гра:</p>
        <ul class="lila-little-list">
          <li>Ти формулюєш запит або питання.</li>
          <li>Кидаєш кубик і починаєш рух по “полю життя”.</li>
          <li>Кожна клітинка – це етап твого життя, твоя підказка або урок.</li>
          <li>
            Я супроводжую тебе як провідник: розшифровую, підсилюю, підтримую.
          </li>
        </ul>
      </div>
    </div>
    <div class="lila-relative-box">
      <h3 class="lila-answers">Відповіді, які ти отримаєш</h3>
      <ul class="lila-answers-list">
        <li>усвідомлення своїх підсвідомих програм</li>
        <li>відповіді на запитання, які давно турбують</li>
        <li>глибший контакт із собою та своєю інтуїцією</li>
        <li>новий погляд на ситуації та події в житті</li>
        <li>розуміння причин внутрішніх блоків і конфліктів</li>
        <li>інсайти, які змінюють сприйняття реальності</li>
      </ul>
    </div>
    <picture class="lila-pic">
      <source
        srcset="
          ./img/lila/lila-circle-desk-1x.jpg 1x,
          ./img/lila/lila-circle-desk-2x.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <source
        srcset="
          ./img/lila/lila-circle-mobile-1x.jpg 1x,
          ./img/lila/lila-circle-mobile-2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/lila/lila-circle-tablet-1x.jpg 1x,
          ./img/lila/lila-circle-tablet-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <img
        src="./img/lila/lila-circle-desk-1x.jpg"
        alt="photo church"
        width="434"
        height="418"
      />
    </picture>
    <div class="little-lila-box">
      <div class="little-lila-time">
        <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
          <use
            xlink:href="./img/sprite.svg#icon-carbon-time"
            width="100%"
            height="100%"
          ></use>
        </svg>
        <p>2–4 години</p>
      </div>
      <h4 class="little-lila-title">ГРА “ЛІЛА”</h4>
      <p class="little-lila-content">
        <span class="custom-little-lila-content">Що це?</span><br />
        Гравець кидає кубик і рухається полем, яке символізує 72 стани
        свідомості. Кожна клітинка — це етап життя, виклик або урок. Через
        символи, метафори й несподівані переходи гра допомагає побачити
        внутрішні програми, розпізнати патерни поведінки та отримати глибокі
        інсайти.
      </p>
      <p class="little-lila-price">Індивідуальна гра 2000 UAH</p>
      <p class="little-lila-price">Групова ГРА 1000 UAH/ЛЮДИНА</p>
      <div class="little-lila-gift">
        <svg width="24" height="24" aria-label="gift icon">
          <use href="./img/matrix-sprite.svg#icon-gift"></use>
        </svg>
        <p>
          персональна медитація під твій запит після гри для інтеграції досвіду
        </p>
      </div>
      <div class="custum-btn-pos telegram-btn-text lila-tg">
        <a
          class="telegram-btn"
          title="Telegram link"
          href="https://t.me/zviedarubka"
          rel="noopener noreferrer"
        >
          Записатись
          <svg class="telegram-svg" aria-label="telegram">
            <use
              href="./img/sprite.svg#telegram-icon"
              width="30"
              height="30"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <p class="lila-slogan">
      Подорож в неповторний світ індійських інсайтів і витоків, де древня
      мудрість стикається з сучасним поглядом на життя
    </p>
    <div class="lila-bg-img"></div>
  </div>
</section>
