<section class="matrix-services">
  <div class="container">
    <h2 class="matrix-services-section-title">
      Послуги з розшифровки Матриці Долі
    </h2>
    <div class="matrix-services-wrapper">
      <ul class="matrix-services-list">
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >90–120 хв
          </p>
          <h3>Повний розбір Матриці</h3>
          <p class="matrix-services-text">
            Глибокий аналіз твоєї душі: карма роду, задачі на життя, основні
            енергії, таланти, слабкі місця, цикли долі.
          </p>
          <p class="matrix-services-text">3000 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Персональна медитація на головний запит.
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >60–70 хв
          </p>
          <h3>Прогноз на рік по Матриці</h3>
          <p class="matrix-services-text">
            Детальний розбір ключових періодів року, викликів, потенціалів та
            змін.
          </p>
          <p class="matrix-services-text">2000 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Персональна медитація на підтримку
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >90–120 хв
          </p>
          <h3>Матриця фінансів</h3>
          <p class="matrix-services-text">
            Аналіз грошових програм, блоків, фінансового потоку. Розбір етапів
            розвитку та фінансових ключів.
          </p>
          <p class="matrix-services-text">1500 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Рекомендації для підсилення грошового каналу + персональна
            медитація
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >Причини повторення сценаріїв у коханні, уроки партнерства, твоя
            любовна енергія, шлях до гармонійного зв’язку.
          </p>
          <h3>Матриця стосунків</h3>
          <p class="matrix-services-text">
            Причини повторення сценаріїв у коханні, уроки партнерства, твоя
            любовна енергія, шлях до гармонійного зв’язку.
          </p>
          <p class="matrix-services-text">1500 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Медитація на відкриття серця
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >70 хв
          </p>
          <h3>Матриця сумісності пари</h3>
          <p class="matrix-services-text">
            Сумісність по енергіях, кармічні уроки, точки зростання, сильні й
            уразливі місця у стосунках.
          </p>
          <p class="matrix-services-text">2000 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Медитація для гармонізації зв’язку
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >60 хв
          </p>
          <h3>Матриця кар’єри та реалізації</h3>
          <p class="matrix-services-text">
            Сфери сили, професії за твоєю енергетикою, кар’єрна стратегія, шлях
            реалізації.
          </p>
          <p class="matrix-services-text">1500 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Практичні поради + медитація на активацію потенціалу
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-text">
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >60 хв
          </p>
          <h3>Матриця здоров’я та енергії</h3>
          <p class="matrix-services-text">
            Стан твоєї енергетики, слабкі місця організму, психосоматика, та
            відновлення.
          </p>
          <p class="matrix-services-text">1500 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Медитація на зцілення тіла
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
        <li class="matrix-services-list-item">
          <p>
            <span class="time-svg-wrapper"
              ><svg><use></use></svg></span
            >50–60 хв
          </p>
          <h3>Матриця місця сили</h3>
          <p class="matrix-services-text">
            Аналіз простору, де вам буде максимально комфортно жити й творити.
            Міста, країни, типи середовища.
          </p>
          <p class="matrix-services-text">1500 UAH</p>
          <p class="matrix-services-text">
            <span class="gift-svg"
              ><svg><use></use></svg></span
            >Рекомендації щодо вибору місця для життя + медитація на внутрішню
            опору
          </p>
          <a href="" title="Telegram link" target="_blank">Записатись</a>
        </li>
      </ul>
    </div>
  </div>
</section>
