<section class="matrix-services">
  <div class="container">
    <h2 class="matrix-services-section-title">
      Послуги з розшифровки Матриці Долі
    </h2>
    <div class="matrix-services-wrapper">
      <ul class="matrix-services-list">
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >90–120 хв
          </p>
          <h3 class="matrix-services-list-title">Повний розбір Матриці</h3>
          <p class="matrix-services-text-wrapper current-text">
            Глибокий аналіз твоєї душі: карма роду, задачі на життя, основні
            енергії, таланти, слабкі місця, цикли долі.
          </p>
          <p class="matrix-services-price">3000 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Персональна медитація на головний запит.
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >60–70 хв
          </p>
          <h3 class="matrix-services-list-title">Прогноз на рік по Матриці</h3>
          <p class="matrix-services-text-wrapper current-text">
            Детальний розбір ключових періодів року, викликів, потенціалів та
            змін.
          </p>
          <p class="matrix-services-price">2000 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Персональна медитація на підтримку.
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >90–120 хв
          </p>
          <h3 class="matrix-services-list-title">Матриця фінансів</h3>
          <p class="matrix-services-text-wrapper current-text">
            Аналіз грошових програм, блоків, фінансового потоку. Розбір етапів
            розвитку та фінансових ключів.
          </p>
          <p class="matrix-services-price">1500 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Рекомендації для підсилення грошового каналу + персональна
            медитація
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >60 хв
          </p>
          <h3 class="matrix-services-list-title">Матриця стосунків</h3>
          <p class="matrix-services-text-wrapper current-text">
            Причини повторення сценаріїв у коханні, уроки партнерства, твоя
            любовна енергія, шлях до гармонійного зв’язку.
          </p>
          <p class="matrix-services-price">1500 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Медитація на відкриття серця
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >70 хв
          </p>
          <h3 class="matrix-services-list-title">Матриця сумісності пари</h3>
          <p class="matrix-services-text-wrapper current-text">
            Сумісність по енергіях, кармічні уроки, точки зростання, сильні й
            уразливі місця у стосунках.
          </p>
          <p class="matrix-services-price">2000 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Медитація для гармонізації зв’язку
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >60 хв
          </p>
          <h3 class="matrix-services-list-title">
            Матриця кар’єри та реалізації
          </h3>
          <p class="matrix-services-text-wrapper current-text">
            Сфери сили, професії за твоєю енергетикою, кар’єрна стратегія, шлях
            реалізації.
          </p>
          <p class="matrix-services-price">1500 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Практичні поради + медитація на активацію потенціалу
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >60 хв
          </p>
          <h3 class="matrix-services-list-title">
            Матриця здоров’я та енергії
          </h3>
          <p class="matrix-services-text-wrapper current-text">
            Стан твоєї енергетики, слабкі місця організму, психосоматика, та
            відновлення.
          </p>
          <p class="matrix-services-price">1500 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Медитація на зцілення тіла
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
        <li class="matrix-services-list-item">
          <p class="matrix-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use
                  href="../img/matrix-sprite.svg#icon-time"
                ></use></svg></span
            >50–60 хв
          </p>
          <h3 class="matrix-services-list-title">Матриця місця сили</h3>
          <p class="matrix-services-text-wrapper current-text">
            Аналіз простору, де вам буде максимально комфортно жити й творити.
            Міста, країни, типи середовища.
          </p>
          <p class="matrix-services-price">1500 uah</p>
          <p class="matrix-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use
                  href="../img/matrix-sprite.svg#icon-gift"
                ></use></svg></span
            >Рекомендації щодо вибору місця для життя + медитація на внутрішню
            опору
          </p>
          <a
            class="matrix-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a>
        </li>
      </ul>
      <div class="arrow-btn-wrapper">
        <button type="button" class="arrow-btn prev">
          <svg
            class="arrow-svg"
            width="40"
            height="36"
            aria-label="Left arrow icon"
          >
            <use href="../img/matrix-sprite.svg#icon-arrow-button-left"></use>
          </svg>
        </button>
        <button type="button" class="arrow-btn next">
          <svg
            class="arrow-svg"
            width="40"
            height="36"
            aria-label="Right arrow icon"
          >
            <use href="../img/matrix-sprite.svg#icon-arrow-button-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
