<section class="matrix-services-section">
  <div class="container matrix-custom-box">
    <div class="matrix-title-box">
      <h2 class="matrix-services-section-title" id="matrix-id">
        Послуги з розшифровки Матриці Долі
      </h2>
    </div>
    <div class="matrix-swiper-init swiper">
      <ul class="matrix-swiper swiper-wrapper">
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <p class="matrix-time">
                <span>
                  <svg
                    class="matrix-time-svg"
                    role="img"
                    aria-label="Clock icon"
                  >
                    <use
                      href="./img/sprite.svg#icon-carbon-time"
                      width="100%"
                      height="100%"
                    ></use></svg></span
                >90–120 хв
              </p>
            </div>
            <h3 class="matrix-services-list-title">Повний розбір Матриці</h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Глибокий аналіз твоєї душі: карма роду, задачі на життя, основні
                енергії, таланти, слабкі місця, цикли долі.
              </p>
            </ul>
            <p class="matrix-price">3000 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="24"
                  hight="24"
                ></use>
              </svg>
              <p class="matrix-gift-text">
                Персональна медитація на головний запит
              </p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">60–70 хв</p>
            </div>
            <h3 class="matrix-services-list-title">
              Прогноз на рік по Матриці
            </h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Детальний розбір ключових періодів року, викликів, потенціалів
                та змін.
              </p>
            </ul>
            <p class="matrix-price">2000 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">
                Персональна медитація на підтримку.
              </p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">90-120 хв</p>
            </div>
            <h3 class="matrix-services-list-title">Матриця фінансів</h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Аналіз грошових програм, блоків, фінансового потоку. Розбір
                етапів розвитку та фінансових ключів.
              </p>
            </ul>
            <p class="matrix-price">1500 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">
                Рекомендації для підсилення грошового каналу + персональна
                медитація
              </p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">60 хв</p>
            </div>
            <h3 class="matrix-services-list-title">Матриця стосунків</h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Причини повторення сценаріїв у коханні, уроки партнерства, твоя
                любовна енергія, шлях до гармонійного зв’язку.
              </p>
            </ul>
            <p class="matrix-price">1500 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">Медитація на відкриття серця</p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">70 хв</p>
            </div>
            <h3 class="matrix-services-list-title">Матриця сумісності пари</h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Сумісність по енергіях, кармічні уроки, точки зростання, сильні
                й уразливі місця у стосунках.
              </p>
            </ul>
            <p class="matrix-price">2000 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">Медитація для гармонізації зв’язку</p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">60 хв</p>
            </div>
            <h3 class="matrix-services-list-title">
              Матриця кар’єри та реалізації
            </h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Сфери сили, професії за твоєю енергетикою, кар’єрна стратегія,
                шлях реалізації.
              </p>
            </ul>
            <p class="matrix-price">1500 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">
                Практичні поради + медитація на активацію потенціалу
              </p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">60 хв</p>
            </div>
            <h3 class="matrix-services-list-title">
              Матриця здоров’я та енергії
            </h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Стан твоєї енергетики, слабкі місця організму, психосоматика, та
                відновлення.
              </p>
            </ul>
            <p class="matrix-price">1500 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">Медитація на зцілення тіла</p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="matrix-cards-li">
            <div class="matrix-time-box">
              <svg class="matrix-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="matrix-time">50-60 хв</p>
            </div>
            <h3 class="matrix-services-list-title">Матриця місця сили</h3>
            <ul class="matrix-inside-list">
              <p class="matrix-services-text-wrapper current-text">
                Аналіз простору, де вам буде максимально комфортно жити й
                творити. Міста, країни, типи середовища.
              </p>
            </ul>
            <p class="matrix-price">1500 uah</p>
            <div class="matrix-gift-box">
              <svg class="matrix-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  hight="100%"
                ></use>
              </svg>
              <p class="matrix-gift-text">
                Рекомендації щодо вибору місця для життя + медитація на
                внутрішню опору
              </p>
            </div>
            <div class="matrix-btn">
              <a
                class="matrix-services-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="matrix-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="matrix-swiper-btns">
      <button
        class="matrix-left-swiper-btn"
        type="button"
        aria-label="Previos card"
      >
        <svg class="matrix-arrow-icon" width="40" hight="36">
          <use href="./img/sprite.svg#icon-arrow-button-left"></use>
        </svg>
      </button>
      <button
        class="matrix-right-swiper-btn"
        type="button"
        aria-label="Next card"
      >
        <svg class="matrix-arrow-icon" width="40" hight="36">
          <use href="./img/sprite.svg#icon-arrow-button-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
