<div class="mobile-menu-wrapper">
  <div class="mobile-container-menu container">
    <button class="close-menu-btn" type="button">
      <svg class="close-menu-svg" aria-label="close-btn" width="18" height="18">
        <use href="./img/sprite.svg#close-icon" />
      </svg>
    </button>
    <nav class="nav-wrapper">
      <ul class="nav-menu-wrapper">
        <li>
          <a id="start-focus" href="">Астрологія</a>
        </li>
        <li>
          <a href="">Матриця долі</a>
        </li>
        <li>
          <a href="">Регресія</a>
        </li>
        <li>
          <a href="">Ретрити</a>
        </li>
        <li>
          <a href="">Таро</a>
        </li>
        <li>
          <a href="">Рейкі</a>
        </li>
        <li>
          <a href="">Енергетичне</a>
        </li>
        <li>
          <a href="">Гіпнотерапія</a>
        </li>
        <li>
          <a href="">Ліла</a>
        </li>
      </ul>
    </nav>
    <ul class="social-list">
      <li>
        <a
          href="https://t.me/zviedarubka"
          class="social-link"
          aria-label="Telegram"
        >
          <svg class="social-svg" width="40" height="40">
            <use href="./img/sprite.svg#telegram-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/zvieda_regress_reiki/?igsh=MWVleThpYzB1ZWR1OQ%3D%3D"
          class="social-link"
          aria-label="Instagram"
        >
          <svg class="social-svg" width="40" height="40">
            <use href="./img/sprite.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
