<section class="offerings-section">
  <div class="custom-container">
    <h2 class="offerings-title">Чим я можу бути корисна</h2>
    <div class="offerings-wrapper">
      <ul class="offerings-list">
        <li class="offerings-list-first-item">
          <p class="offerings-list-item-text elips">
            Створюю індивідуальні медитації під твій запит
          </p>
        </li>
        <li class="offerings-list-second-item">
          <p class="offerings-list-item-text elips">
            Проводжу сеанси Рейкі для очищення та зцілення
          </p>
        </li>

        <li class="offerings-list-third-item">
          <p class="offerings-list-item-text elips">
            Роблю глибокі розклади Таро, аналіз Натальної карти та Матриці Долі
          </p>
        </li>

        <li class="offerings-list-fourth-item">
          <p class="offerings-list-item-text elips">
            Проводжу потужні жіночі ретрити, які змінюють життя
          </p>
        </li>
        <li class="offerings-list-femth-item">
          <p class="offerings-list-item-text elips">
            Супроводжую у грі Ліла, регресії, духовних практиках
          </p>
        </li>
      </ul>
      <div class="offerings-bg-img"></div>
    </div>
  </div>
</section>
