<section class="offerings-section">
  <div class="container">
    <h2 class="offerings-title">Чим я можу бути корисна</h2>
    <ul class="offerings-list">
      <li class="offerings-list-item">
        <p class="offerings-list-item-text">
          Створюю індивідуальні медитації під твій запит
        </p>
      </li>
      <li class="offerings-list-item">
        <p class="offerings-list-item-text">
          Проводжу сеанси Рейкі для очищення та зцілення
        </p>
      </li>
      <li class="offerings-list-item">
        <p class="offerings-list-item-text">
          Роблю глибокі розклади Таро, аналіз Натальної карти та Матриці Долі
        </p>
      </li>
      <li class="offerings-list-item">
        <p class="offerings-list-item-text">
          Проводжу потужні жіночі ретрити, які змінюють життя
        </p>
      </li>
      <li class="offerings-list-item">
        <p class="offerings-list-item-text">
          Супроводжую у грі Ліла, регресії, духовних практиках
        </p>
      </li>
    </ul>
    <div class="offerings-bg-img"></div>
  </div>
</section>
