<section class="regres-section" id="regres-id">
  <div class="container">
    <h2 class="regres-main-title">
      Регресивна терапія: Повернення у минуле життя
    </h2>
    <div class="regres-is">
      <div class="regres-inclined-box">Регресія –</div>
      <ul class="regres-thats-are">
        <li>ПОДОРОЖ У МИНУЛІ ЖИТТЯ</li>
        <li>РОДОВІ УРОКИ</li>
        <li>ПОКЛИКАННЯ</li>
        <li>РОЗГАДКА ЖИТТЄВИХ СЦЕНАРІЄВ</li>
        <li>ВІДПОВІДІ НА ВАЖЛИВІ ПИТАННЯ</li>
      </ul>
    </div>
    <div class="church-desk-style">
      <div class="health-church-box">
        <h3 class="health-church-title">Храм Здоров’я</h3>
        <p class="health-church-content">
          я — одна з небагатьох регресологів, хто працює з цим рівнем
        </p>
      </div>
      <div class="regres-little-conteiner">
        <h4 class="regres-little-title">
          Регресія — це не просто подорож у минуле. Це глибокий сакральний
          досвід зустрічі зі своєю душею.
        </h4>
        <p class="regres-little-content regres-little-content-desk">
          Під час сеансу людина входить у стан гіпнотичного трансу — альфа або
          тета-хвилі — де відкривається доступ до глибинної памʼяті душі. Саме
          там зберігаються досвіди минулих втілень, кармічні програми, родові
          уроки, незавершені сценарії та справжнє покликання.
        </p>
        <p class="regres-little-content">Під час роботи в Храмі Здоров’я:</p>
        <ul class="regres-little-list">
          <li>запускається відновлення клітин і баланс енергії</li>
          <li>відпускаються болі, страхи, емоційні травми</li>
          <li>часто йдуть психосоматичні прояви та напруга в тілі</li>
          <li>активуються внутрішні ресурси на зцілення</li>
        </ul>
      </div>
    </div>
    <div class="regres-relative-box">
      <h3 class="regres-answers">Відповіді, які ти отримаєш</h3>
      <ul class="regres-answers-list">
        <li>побачиш минулі життя: події, стосунки, емоції</li>
        <li>потрапиш у Храм Здоровʼя</li>
        <li>
          отримаєш відповіді від Ради Старійшин — високих душ, які підказують
          шлях
        </li>
        <li>
          доторкнешся до Хронік Акаші – поля всезнання, де відкривається минуле,
          теперішнє і майбутнє
        </li>
        <li>зустрінеш духовного наставника - отриматєш підтримку і підказки</li>
        <li>
          зустрінеш споріднені душі: тих, хто супроводжує тебе через життя
        </li>
      </ul>
    </div>
    <picture class="regres-pic">
      <source
        srcset="
          ./img/regres/regres-desk-1x.jpg 1x,
          ./img/regres/regres-desk-2x.jpg 2x
        "
        media="(min-width:1440px)"
      />
      <source
        srcset="
          ./img/regres/regres-mobile-1x.jpg 1x,
          ./img/regres/regres-mobile-2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/regres/regres-tablet-1x.jpg 1x,
          ./img/regres/regres-tablet-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <img
        src="./img/regres/regres-desk-1x.jpg"
        alt="photo arms"
        width="434"
        height="418"
      />
    </picture>
    <div class="regres-hypno-box">
      <div class="regres-hypno-time">
        <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
          <use
            xlink:href="./img/sprite.svg#icon-carbon-time"
            width="100%"
            height="100%"
          ></use>
        </svg>
        <p>2–2,5 години</p>
      </div>
      <h4 class="regres-hypno-title">СЕАНС РегресивнОГО гіпнозУ</h4>
      <p class="regres-hypno-content">
        Це не просто техніка. Це інтимна, трансформаційна подорож до себе.<br />
        І я поруч — як провідник, як енерготерапевт, як душа, яка допоможе тобі
        згадати, хто ти є насправді.
      </p>
      <p class="regres-hypno-price">4000 UAH</p>
      <div class="regres-hypno-gift">
        <svg width="24" height="24" aria-label="gift icon">
          <use href="./img/matrix-sprite.svg#icon-gift"></use>
        </svg>
        <p>Персональна медитація під твій запит та підтримка після регресії</p>
      </div>
      <div class="custum-btn-pos telegram-btn-text regres-tg">
        <a
          class="telegram-btn"
          title="Telegram link"
          href="https://t.me/zviedarubka"
          rel="noopener noreferrer"
        >
          Записатись
          <svg class="telegram-svg" aria-label="telegram">
            <use
              href="./img/sprite.svg#telegram-icon"
              width="30"
              height="30"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <p class="regres-slogan">
      Життя – це постійне згадування себе. Я тут, щоб допомогти тобі згадати
    </p>
    <div class="regres-bg-img"></div>
  </div>
</section>
