<section class="reiki-section" id="reiki-id">
  <div class="container reiki-custom-box">
    <h2 class="reiki-main-title">
      Рейкі – енергія, яка зцілює не тільки тіло, а й душу
    </h2>
    <p class="reiki-content">
      Рейкі — це універсальна життєва енергія, яка протікає через усе живе. Це
      давнє японське мистецтво енергетичного зцілення, яке працює м’яко, але
      дуже глибоко. Сеанси Рейкі допомагають налагодити внутрішній баланс, зняти
      емоційні блоки, заспокоїти нервову систему, відновити енергетичне тіло — і
      як наслідок, фізичне здоров’я.
    </p>
    <div class="reiki-two-boxes">
      <div class="reiki-ya">я –</div>
      <p class="reiki-ya-content">
        ПРОВІДНИК РЕЙКІ ПЕРШОГО ТА ДРУГОГО СТУПЕНЯ. ЦЕ ДАЄ МЕНІ МОЖЛИВІСТЬ
        ПРАЦЮВАТИ ЯК У ЖИВОМУ КОНТАКТІ, ТАК І НА ВІДСТАНІ. ЕНЕРГІЯ НЕ МАЄ МЕЖ —
        ВОНА ПРИХОДИТЬ ТУДИ, ДЕ ЇЇ ПОТРЕБУЮТЬ.
      </p>
    </div>
    <!-- answers -->
    <h2 class="reiki-main-title">Відповіді, які ти отримаєш</h2>
    <div class="reiki-pic-list-position">
      <ul class="reiki-answers">
        <li>
          відновлення фізичного здоров'я: зняття болю, головного болю, втоми та
          хронічних симптомів.
        </li>
        <li>заспокоєння емоцій: зниження стресу, тривоги та панічних атак.</li>
        <li>
          очищення енергетичного поля: гармонізація енергетики та баланс чакр.
        </li>
        <li>
          підвищення психоемоційної стійкості: боротьба з негативними емоціями
          та страхами.
        </li>
        <li>
          відновлення внутрішньої сили: повернення до своєї справжньої суті та
          гармонії.
        </li>
        <li>
          поглиблене самоусвідомлення: допомога в подоланні ментальних блоків та
          відчуття загубленості.
        </li>
      </ul>
      <picture class="reiki-pic">
        <source
          srcset="
            ./img/reiki/reiki-desk-1x.jpg 1x,
            ./img/reiki/reiki-desk-2x.jpg 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./img/reiki/reiki-mobile-1x.jpg 1x,
            ./img/reiki/reiki-mobile-2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./img/reiki/reiki-tablet-1x.jpg 1x,
            ./img/reiki/reiki-tablet-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <img
          src="./img/reiki/reiki-desk-1x.jpg"
          alt="photo smoke"
          width="434"
          height="418"
        />
      </picture>
    </div>
    <!-- sessions -->
    <h2 class="reiki-main-title">ОКРЕМІ Рейкі-сесії</h2>
    <div class="reiki-swiper-init swiper">
      <ul class="swiper-wrapper reiki-services-list">
        <li class="swiper-slide">
          <div class="reiki-services-list-item ">
          <p class="reiki-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use href="./img/matrix-sprite.svg#icon-time"></use></svg></span
            >40–60 хв
          </p>
          <h3 class="reiki-services-list-title">Дистанційний сеанс РейкІ</h3>
          <p class="reiki-services-text-wrapper current-text">
            <span class="reiki-what-is">Що це?</span></br>
            Це енергетична підтримка на відстані — м’яка, точна і глибока. Потік
            Рейкі працює поза часом і простором, тому ви отримаєте той самий
            ефект, що й під час очного сеансу.
          </p>
          <p class="reiki-services-price">1500 UAH</p>
          <p class="reiki-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use href="./img/matrix-sprite.svg#icon-gift"></use></svg></span
            >Персональна медитація під твій запит
          </p>
          <a
            class="reiki-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a></div>
        </li>
        <li class="swiper-slide">
          <div class="reiki-services-list-item">
          <p class="reiki-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use href="./img/matrix-sprite.svg#icon-time"></use></svg></span
            >60 хв
          </p>
          <h3 class="reiki-services-list-title">Очний сеанс Рейкі </h3>
          <p class="reiki-services-text-wrapper current-text">
            <span class="reiki-what-is">Що це?</span></br>
            Терапія через м’які позиції рук на ключових зонах тіла, де природно тече потік Рейкі. Ці точки активують процеси зцілення, заспокоєння та енергетичного балансу.
          </p>
          <p class="reiki-services-price">1700 UAH</p>
          <p class="reiki-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use href="./img/matrix-sprite.svg#icon-gift"></use></svg></span
            >Персональна медитація під твій запит
          </p>
          <a
            class="reiki-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a></div>
        </li>
        <li class="swiper-slide">
          <div class="reiki-services-list-item">
          <p class="reiki-services-time">
            <span class="time-svg-wrapper"
              ><svg width="24" height="24" aria-label="time icon">
                <use href="./img/matrix-sprite.svg#icon-time"></use></svg></span
            >75 хв
          </p>
          <h3 class="reiki-services-list-title">Сеанс + інтуїтивна діагностика + медитація</h3>
          <p class="reiki-services-text-wrapper current-text">
            <span class="reiki-what-is">Що це?</span></br>
            Комбінована робота: через енергію, медитативне занурення. Можна працювати з запитами на здоров’я, стосунки, внутрішні блоки.
          </p>
          <p class="reiki-services-price">250 UAH</p>
          <p class="reiki-services-gift-text current-text">
            <span class="gift-svg"
              ><svg width="24" height="24" aria-label="gift icon">
                <use href="./img/matrix-sprite.svg#icon-gift"></use></svg></span
            >Персональна медитація під твій запит
          </p>
          <a
            class="reiki-services-btn"
            rel="noopener noreferrer"
            href="https://t.me/zviedarubka"
            title="Telegram link"
            target="_blank"
            >Записатись
            <span class="telegram-svg-wrapper"
              ><svg width="29" height="30">
                <use
                  href="../img/matrix-sprite.svg#icon-telegram"
                ></use></svg></span
          ></a></div>
        </li>
      </ul>
    </div>
    <!-- paket -->
    <h2 class="reiki-main-title">ПАКЕТНІ ПОСЛУГИ РЕЙКІ</h2>
    <ul class="reiki-package-list">
      <li class="reiki-hypno-box">
          <div class="reiki-hypno-time">
            <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
              <use
                xlink:href="./img/sprite.svg#icon-carbon-time"
                width="100%"
                height="100%"
              ></use>
            </svg>
            <p>30–35 хв</p>
          </div>
          <svg class="reiki-star-svg" role="img" aria-label="Star icon">
            <use
              xlink:href="./img/sprite.svg#icon-reiki-star"
              width="100%"
              height="100%"
            ></use>
          </svg>
          <h4 class="reiki-card-title">Пакет <span class="reiki-custom-number">3</span> сеанси
            «Очищення та баланс»</h4>
          <p class="reiki-card-content">
            <span class="reiki-custom-content custom-span">Рекомендовано при стресі, емоційному вигоранні, депресії, втраті себе, тривожності, втомі.
Сеанси допоможуть відновити баланс, емоційну рівновагу та гармонію в житті.</span><br/>
<span class="reiki-custom-content">Перший сеанс — очищення</span><br/>
Глибоке енергетичне очищення від накопичених емоцій, стресу, чужих впливів. Звільнення простору всередині себе.<br/>
<span class="reiki-custom-content">Другий сеанс — наповнення</span><br/>
Ніжне відновлення внутрішнього ресурсу: м’якість, тепло, світло, любов до себе. Наповнення життєвою енергією.<br/>
<span class="reiki-custom-content">Третій сеанс — стабілізація</span><br/>
Закріплення внутрішнього балансу, заземлення, відчуття опори та гармонії в собі. Спокійне, впевнене повернення до себе.
          </p>
          <p class="regres-hypno-price">3000 UAH</p>
          <div class="reiki-card-gift">
            <svg width="24" height="24" aria-label="gift icon">
              <use href="./img/matrix-sprite.svg#icon-gift"></use>
            </svg>
            <p>персональна аудіомедитація + підтримка між сеансами</p>
          </div>
          <div class="reiki-btn-box">
            <a
              class="reiki-tg"
              title="Telegram link"
              href="https://t.me/zviedarubka"
              rel="noopener noreferrer"
            >
              Записатись
              <svg class="reiki-telegram-svg" aria-label="telegram">
                <use
                  href="./img/sprite.svg#telegram-icon"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
            </a>
          </div>
      </li>
      <li class="reiki-hypno-box">
          <div class="reiki-hypno-time">
            <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
              <use
                xlink:href="./img/sprite.svg#icon-carbon-time"
                width="100%"
                height="100%"
              ></use>
            </svg>
            <p>30–35 хв</p>
          </div>
          <svg class="reiki-star-svg" role="img" aria-label="Star icon">
            <use
              xlink:href="./img/sprite.svg#icon-reiki-star"
              width="100%"
              height="100%"
            ></use>
          </svg>
          <h4 class="reiki-card-title">Пакет <span class="reiki-custom-number">5</span> сеансів «Зцілення тіла та душі» </h4>
          <p class="reiki-card-content">
            <span class="reiki-custom-content">Перший сеанс — очищення</span><br/>
М’яке звільнення від емоційного тягаря й зайвої енергії. Легкість у тілі та думках.<br/>
<span class="reiki-custom-content">Другий сеанс — заспокоєння</span><br/>
Стабілізація нервової системи. Менше тривоги – більше опори всередині.<br/>
<span class="reiki-custom-content">Третій сеанс — наповнення.</span><br/>
Відновлюється внутрішній ресурс, клітинна сила, покращується самопочуття, імунітет та енергетичний фон.<br/>
<span class="reiki-custom-content">Четвертий сеанс — зцілення</span><br/>
Працюємо з глибинними ранами, болем і травмами, м’яке зцілення тіла, пов’язане з емоційними причинами хвороб.<br/>
<span class="reiki-custom-content">П’ятий сеанс — інтеграція</span><br/>
Повернення до себе – оновленої, цілісної, спокійної.
          </p>
          <p class="reiki-cards-price">5000 UAH</p>
          <div class="reiki-card-gift">
            <svg width="24" height="24" aria-label="gift icon">
              <use href="./img/matrix-sprite.svg#icon-gift"></use>
            </svg>
            <p>персональна аудіомедитація + підтримка між сеансами</p>
          </div>
          <div class="reiki-btn-box">
            <a
              class="reiki-tg"
              title="Telegram link"
              href="https://t.me/zviedarubka"
              rel="noopener noreferrer"
            >
              Записатись
              <svg class="reiki-telegram-svg" aria-label="telegram">
                <use
                  href="./img/sprite.svg#telegram-icon"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
            </a>
          </div>
      </li>
    </ul>
  </div>
</section>
