<section class="retreat-section-container" id="retreat-id">
  <div class="container retreat-img-wrapper">
    <h3 class="retreat-title">
      Ретрит – простір глибокого зцілення й трансформації
    </h3>
    <p class="retreat-text check-size">
      Наші жіночі ретрити в Карпатах — це більше, ніж просто відпочинок. Це
      глибоке перезавантаження, яке змінює життя, допомагає відновити енергію та
      знайти гармонію. Кожна подорож стає точкою трансформації, після якої ти
      повертаєшся оновленою, натхненною та сповненою внутрішньої сили.
      <br />Наші ретрити — це поєднання духовних практик, енергетичного зцілення
      та тілесного досвіду, серед яких:
    </p>
    <ul class="retreat-list retreat-text">
      <li class="retreat-list-item first-retreat-card">
        <span class="retreat-elips"></span>сеанси Рейкі – гармонізація енергії
        та зцілення
      </li>
      <li class="retreat-list-item second-retreat-card">
        <span class="retreat-elips"></span>регресії – подорож у минулі життя,
        Храм здоров’я, Хроніки Акаші
      </li>
      <li class="retreat-list-item third-retreat-card">
        <span class="retreat-elips"></span>медитації та тілесні практики;
        мантри; йога
      </li>
      <li class="retreat-list-item fourth-retreat-card">
        <span class="retreat-elips"></span>чайні церемонії, обійми, сміх і
        душевні розмови
      </li>
      <li class="retreat-list-item fifth-retreat-card">
        <span class="retreat-elips"></span>таро – дзеркало душі та дороговказ у
        житті
      </li>
      <li class="retreat-list-item sixth-retreat-card">
        <span class="retreat-elips"></span>цвяхостояння — практика сили та
        внутрішньої опори
      </li>
    </ul>
    <picture class="retreat-img-container">
      <!-- Desktop screen 1440 -->

      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/retreat/retreat-picture-desctop@1x.jpg 1x,
          ./img/retreat/retreat-picture-desctop@2x.jpg 2x
        "
        type="image/jpeg"
      />

      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/retreat/retreat-picture-tablet@1x.jpg 1x,
          ./img/retreat/retreat-picture-tablet@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <!-- Mobile screen -->

      <source
        media="(max-width: 767px)"
        srcset="
          ./img/retreat/retreat-picture-mobile@1x.jpg 1x,
          ./img/retreat/retreat-picture-mobile@2x.jpg 2x
        "
        type="image/jpeg"
      />
      <img
        class="retreat-img"
        src="./img/retreat/retreat-picture-mobile@1x.jpg"
        alt="Жінка у чорній куртці та світлому спортивному одязі стоїть на полі розкинувши руки. Фото виконане у чорно-білих тонах і обрізане у формі кола."
        loading="lazy"
      />
    </picture>
    <!-- video blll -->
    <div class="retreat-video-container">
      <div class="small-video-box">
        <video
          class="retreat-video-wrapper"
          src="./media/first-retreat-video.mp4"
          type="video/mp4"
          aria-label="Відео медитативної сесії з жінками, що сидять в уютномуд деревяному будуничку серед свічок і карток, під час ретриту в Карпатах"
          controls
        ></video>
        <picture class="video-overlay" tabindex="0">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/retreat/first-wrapper-desktop-x1.jpg 1x,
              ./img/retreat/first-wrapper-desktop-x2.jpg 2x
            "
          />
          <source
            srcset="
              ./img/retreat/first-wrapper-mobile-x1.jpg 1x,
              ./img/retreat/first-wrapper-mobile-x2.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/retreat/first-wrapper-tablet-x1.jpg 1x,
              ./img/retreat/first-wrapper-tablet-x2.jpg 2x
            "
          />
          <img src="./img/retreat/first-wrapper-desktop-1x.jpg" alt="Оверлей" />
        </picture>
        <button
          class="video-play-btn"
          aria-label="Відтворити відео"
          tabindex="-1"
        >
          <svg class="play-icon">
            <use href="./img/sprite.svg#play-icon"></use>
          </svg>
        </button>
      </div>
      <div class="small-video-box">
        <video
          class="retreat-video-wrapper"
          src="./media/second-retreat-video.mp4"
          type="video/mp4"
          aria-label="Відео сесії релаксації на ретриті: жінки лежать загорнуті в пледи у світлій залі з килимками, свічками та розслаблюючою атмосферою"
          controls
        ></video>
        <picture class="video-overlay" tabindex="0">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/retreat/second-wrapper-desktop-x1.jpg 1x,
              ./img/retreat/second-wrapper-desktop-x2.jpg 2x
            "
          />
          <source
            srcset="
              ./img/retreat/second-wrapper-mobile-x1.jpg 1x,
              ./img/retreat/second-wrapper-mobile-x2.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/retreat/second-wrapper-tablet-x1.jpg 1x,
              ./img/retreat/second-wrapper-tablet-x2.jpg 2x
            "
          />
          <img
            src="./img/retreat/second-wrapper-desktop-1x.jpg"
            alt="Оверлей"
          />
        </picture>
        <button
          class="video-play-btn"
          aria-label="Відтворити відео"
          tabindex="-1"
        >
          <svg class="play-icon">
            <use href="./img/sprite.svg#play-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
