<section class="taro-section">
  <div class="container taro-custom-box">
    <div class="taro-title-box">
      <h2 class="taro-title">Таро розклади</h2>
      <svg class="star-svg" aria-label="star" id="taro-id">
        <use href="./img/sprite.svg#icon-star" width="100%" height="100%"></use>
      </svg>
    </div>
    <div class="taro-swiper-init swiper">
      <ul class="taro-swiper swiper-wrapper">
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">30–35 хв</p>
            </div>
            <h3 class="taro-little-title">РЕСУРСНИЙ шлях: Я, як Жінка</h3>
            <ul class="taro-inside-list">
              <li>Яка я зараз як Жінка?</li>
              <li>Що блокує мою жіночність та прийняття себе?</li>
              <li>Як мені наповнити себе?</li>
              <li>Де моя сила?</li>
              <li>Що допоможе мені розквітнути?</li>
            </ul>
            <p class="taro-price">800 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25 хв</p>
            </div>
            <h3 class="taro-little-title">Вихід із самотності</h3>
            <ul class="taro-inside-list">
              <li>Чому я зараз одна?</li>
              <li>Які підсвідомі блоки заважають мені будувати стосунки?</li>
              <li>Як себе підтримати?</li>
              <li>Чи є хтось на шляху до мене вже?</li>
              <li>Що змінити у своєму ставленні до кохання?</li>
            </ul>
            <p class="taro-price">600 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">30 хв</p>
            </div>
            <h3 class="taro-little-title">Вирішення ситуації</h3>
            <ul class="taro-inside-list">
              <li>Який потенціал кожного варіанту?</li>
              <li>Що приховано, але важливо побачити?</li>
              <li>Як не помилитися у виборі?</li>
              <li>Який крок варто зробити вже зараз?</li>
            </ul>
            <p class="taro-price">700 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25 хв</p>
            </div>
            <h3 class="taro-little-title">Моє майбутнє кохання</h3>
            <ul class="taro-inside-list">
              <li>Коли можливе нове кохання?</li>
              <li>Який буде партнер?</li>
              <li>Як готувати себе до цих стосунків?</li>
              <li>Що мені потрібно відпустити з минулого?</li>
            </ul>
            <p class="taro-price">600 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">20 хв</p>
            </div>
            <h3 class="taro-little-title">Що мені потрібно в даний момент?</h3>
            <ul class="taro-inside-list">
              <li>Яке послання для мене має Всесвіт?</li>
              <li>Що зі мною відбувається зараз?</li>
              <li>Які мої справжні потреби?</li>
              <li>Де знайти опору, натхнення та силу рухатися вперед?</li>
            </ul>
            <p class="taro-price">500 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25–30 хв</p>
            </div>
            <h3 class="taro-little-title">Розлучитися чи боротися до кінця?</h3>
            <ul class="taro-inside-list">
              <li>Чи варто рятувати ці стосунки чи настав час піти?</li>
              <li>
                Який кармічний урок ти проходиш і що Всесвіт хоче тобі сказати?
              </li>
              <li>Як прийняти правильне рішення без болю і жалю?</li>
              <li>Що буде, якщо я залишусь / піду?</li>
            </ul>
            <p class="taro-price">500 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">
                Персональна медитація на зцілення серця
              </p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25 хв</p>
            </div>
            <h3 class="taro-little-title">РОЗКЛАД НА СУПЕРНИЦЮ</h3>
            <ul class="taro-inside-list">
              <li>Чи є у мене суперниця і яку роль вона відіграє?</li>
              <li>Що він насправді відчуває до неї?</li>
              <li>Чим я сильніша за неї і як перемогти?</li>
              <li>Як мені захистити свої стосунки?</li>
            </ul>
            <p class="taro-price">700 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25 хв</p>
            </div>
            <h3 class="taro-little-title">Про що він мовчить</h3>
            <ul class="taro-inside-list">
              <li>Що він думає про мене, але боїться сказати?</li>
              <li>Які у нього таємні бажання в стосунках зі мною?</li>
              <li>Яку правду він приховує від мене?</li>
              <li>Що станеться, якщо я зроблю перший крок?</li>
            </ul>
            <p class="taro-price">700 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25 хв</p>
            </div>
            <h3 class="taro-little-title">Проблеми з фінансами</h3>
            <ul class="taro-inside-list">
              <li>Де блокуються мої фінансові потоки?</li>
              <li>Що я роблю не так?</li>
              <li>Як змінити ставлення до грошей?</li>
              <li>Які мої головні фінансові уроки?</li>
            </ul>
            <p class="taro-price">700 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">
                Медитація на відкриття фінансового потоку
              </p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25 хв</p>
            </div>
            <h3 class="taro-little-title">
              Авторський розклад за твоїм запитом
            </h3>
            <p class="taro-individ">
              Індивідуальний розклад під твої конктретні питання! Підходить,
              якщо:
            </p>
            <ul class="taro-inside-list">
              <li>Маєш конкретну ситуацію чи сумнів</li>
              <li>Хочеш почути підказку саме під свій випадок</li>
            </ul>
            <p class="taro-price">700 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">
                Медитація на відкриття фінансового потоку
              </p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25–30 хв</p>
            </div>
            <h3 class="taro-little-title">Мій шлях у роботі / кар’єрі</h3>
            <ul class="taro-inside-list">
              <li>Які напрямки найбільше відповідають мені?</li>
              <li>Де мій ріст і розвиток?</li>
              <li>Який тип діяльності мені підходить?</li>
              <li>Що заважає проявитись у повній силі?</li>
            </ul>
            <p class="taro-price">800 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">
                Медитація для активації професійного ресурсу
              </p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="taro-cards-li">
            <div class="taro-time-box">
              <svg class="taro-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-time">25–30 хв</p>
            </div>
            <h3 class="taro-little-title">Підказки від Всесвіту</h3>
            <ul class="taro-inside-list">
              <li>Яку підказку дає мені Всесвіт прямо зараз?</li>
              <li>
                Де моя точка сили — внутрішній ресурс, на який я можу опертись?
              </li>
              <li>Що настав час відпустити, щоб перейти на новий рівень?</li>
              <li>
                Який мій мудрий наступний крок — у напрямку, який відкриє потік?
              </li>
            </ul>
            <p class="taro-price">600 UAH</p>
            <div class="taro-gift-box">
              <svg class="taro-design-svg" role="img" aria-label="Sound icon">
                <use
                  xlink:href="./img/sprite.svg#icon-gift"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="taro-gift-text">Персональна медитація під твій запит</p>
            </div>
            <div class="taro-btn">
              <a
                class="taro-tg-btn"
                title="Telegram link"
                href="https://t.me/zviedarubka"
                rel="noopener noreferrer"
              >
                Записатись
                <svg class="taro-tg-svg" aria-label="telegram">
                  <use
                    href="./img/sprite.svg#telegram-icon"
                    width="30"
                    height="30"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="taro-swiper-btns">
      <button
        class="taro-left-swiper-btn"
        type="button"
        aria-label="Previos card"
      >
        <svg class="arrow-icon" width="100%" height="100%">
          <use
            xlink:href="./img/sprite.svg#arrow-button-icon"
            width="100%"
            height="100%"
          ></use>
        </svg>
      </button>
      <button
        class="taro-right-swiper-btn"
        type="button"
        aria-label="Next card"
      >
        <svg class="arrow-icon" width="100%" height="100%">
          <use
            xlink:href="./img/sprite.svg#arrow-button-icon"
            width="100%"
            height="100%"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
