<section class="vedic-section">
  <div class="container vedic-img">
    <h1 class="vedic-title" id="vedic-astrology-id">
      Що таке Ведична астрологія?
    </h1>
    <p class="vedic-content">
      Ведична астрологія (Джйотиш) — це древнє знання з Індії, яке розкриває
      твою душу, життєвий шлях, сильні сторони, кармічні задачі та призначення.
      Це не “гороскопи”, а глибокий аналіз унікальної карти народження,
      складеної згідно з точним розташуванням планет на момент твого появлення
      на світ.<br />
      Відповіді, які ти отримаєш:
    </p>
    <ul class="vedic-answers">
      <li>у чому твоє покликання, чого тобі хоче навчити життя</li>
      <li>підказки, що допоможе рухатися далі без хаосу і втрат</li>
      <li>усвідомлення повторюваних сценаріїв та їх трансформація</li>
      <li>чітке розуміння свого характеру, ресурсів і внутрішніх задач</li>
      <li>розбір складних сфер: стосунки, фінанси, здоров’я, реалізація</li>
      <li>важливі життєві періоди — коли діяти, а коли чекати</li>
    </ul>
    <picture>
      <source
        srcset="./img/vedic-astrology/galaxy-desktop.gif"
        media="(min-width:1440px)"
      />
      <source
        srcset="./img/vedic-astrology/galaxy-mobile.gif"
        media="(max-width:767px)"
      />
      <source
        srcset="./img/vedic-astrology/galaxy-tablet.gif"
        media="(min-width:768px)"
      />
      <img
        class="vedic-galaxy"
        src="./img/vedic-astrology/galaxy-desktop.gif"
        alt="Анімована картинка космосу в середині якого знаходиться галактика під назвою Молочний Шлях."
        width="434"
        height="418"
      />
    </picture>
    <h3 class="vedic-services-title">Послуги з Ведичної астрології</h3>
    <div class="swipe-arrow-btns">
      <button
        type="button"
        aria-label="Next card"
        class="vedic-left-swiper-btn"
      >
        <svg class="arrow-icon">
          <use xlink:href="./img/sprite.svg#arrow-button-icon"></use>
        </svg>
      </button>
      <button
        type="button"
        aria-label="Previos card"
        class="vedic-right-swiper-btn"
      >
        <svg class="arrow-icon">
          <use href="./img/sprite.svg#arrow-button-icon"></use>
        </svg>
      </button>
    </div>
    <div class="vedic-swiper swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use href="./img/sprite.svg#icon-group-1"></use>
              </svg>
              <h4 class="vedic-card-title">ПОВНИЙ РОЗБІР НАТАЛЬНОЇ КАРТИ</h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> персональна
                медитація під запит + загальний астропрогноз на рік
              </p>
              <p class="vedic-price">3000 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use
                  xlink:href="./img/sprite.svg#icon-carbon-time"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 90–120 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">
                Натальна карта (повний розбір) — ключ до розуміння себе
              </h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Стосунки: як будувати гармонійні взаємини та який партнер тобі
                  підходить.
                </li>
                <li>
                  Фінанси та кар'єра: твої перспективи, блоки та можливості для
                  зростання.
                </li>
                <li>
                  Здоров’я: слабкі місця організму та способи підтримки
                  енергетичного балансу.
                </li>
                <li>
                  Кармічні уроки: що тобі хоче показати доля та як це
                  використати на благо.
                </li>
                <li>
                  Важливі періоди: коли діяти, а коли чекати, щоб уникнути хаосу
                  і втрат.
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use
                  xlink:href="./img/sprite.svg#icon-group-2"
                  width="100%"
                  height="100%"
                ></use>
              </svg>
              <h4 class="vedic-card-title">Експрес-аналіз натальної карти</h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> персональна
                медитація на гармонізацію твоїх енергій, заспокоєння розуму та
                активацію внутрішнього ресурсу
              </p>
              <p class="vedic-price">1500 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use xlink:href="./img/sprite.svg#icon-carbon-time"></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 40–50 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">
                Експрес-аналіз карти – ключові аспекти твоєї енергетики та долі
              </h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Характер та сильні сторони: як використовувати їх для
                  досягнення цілей.
                </li>
                <li>
                  Енергія та життєва місія: що допоможе тобі рухатися вперед.
                  Важливі цикли життя: моменти
                </li>
                <li>
                  Важливі цикли життя: моменти сили, точки змін і періоди, коли
                  варто діяти чи спостерігати.
                </li>
                <li>
                  Життєвий шлях: твоє призначення, ключові етапи розвитку та
                  напрямок, у якому розкривається твій потенціал.
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use xlink:href="./img/sprite.svg#icon-group-1"></use>
              </svg>
              <h4 class="vedic-card-title">Прогноз на рік (соляр)</h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> персональна
                медитація на енергії твого року (або на турбуючу тебе тематику)
                + порада від карт таро
              </p>
              <p class="vedic-price">4000 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use xlink:href="./img/sprite.svg#icon-carbon-time"></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 90 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">
                Натальна карта (повний розбір) — ключ до розуміння себе
              </h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Головні події та можливості року: що чекає на тебе в найближчі
                  12 місяців.
                </li>
                <li>
                  Коли діяти, а коли чекати: ключові періоди для рішень і змін.
                </li>
                <li>
                  Виклики та уроки: до чого готуватися, щоб уникнути хаосу та
                  помилок.
                </li>
                <li>
                  Консультація включає розбір натальної карти для точного
                  налаштування прогнозу, аналіз транзитів, соляра та ключових
                  періодів року. Таро допоможе побачити тонкі сценарії, які не
                  завжди видно в зірках, але відчуваються серцем.
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use xlink:href="./img/sprite.svg#icon-group-6"></use>
              </svg>
              <h4 class="vedic-card-title">Я і стосунки</h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> персональна
                медитація на відкриття серця, гармонізацію жіночої енергії та
                зцілення емоційних ран
              </p>
              <p class="vedic-price">1500 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use xlink:href="./img/sprite.svg#icon-carbon-time"></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 60 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">
                Стосунки – ключ до гармонії та глибокого зв’язку
              </h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Глибинний аналіз теми кохання та партнерства: як ти будуєш
                  стосунки і які сценарії керують твоїм вибором.
                </li>
                <li>
                  Взаємодія з оточенням: що заважає гармонії в особистих і
                  соціальних зв’язках.
                </li>
                <li>
                  Внутрішні блоки: які установки стримують тебе від щасливих
                  стосунків і як їх трансформувати.
                </li>
                <li>Аналіз поточних стосунків.</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use xlink:href="./img/sprite.svg#icon-group-3"></use>
              </svg>
              <h4 class="vedic-card-title">
                Професійна реалізація та фінансова стратегія
              </h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> персональна
                медитація на відкриття серця, гармонізацію жіночої енергії та
                зцілення емоційних ран
              </p>
              <p class="vedic-price">1500 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use xlink:href="./img/sprite.svg#icon-carbon-time"></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 60 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">
                Кар’єра і фінанси – твої можливості для зростання
              </h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Твоя професійна ніша: які сфери діяльності найбільше
                  відповідають твоїм талантам і енергії.
                </li>
                <li>
                  Сильні сторони: що робить тебе унікальним фахівцем і як це
                  використати.
                </li>
                <li>
                  Фінансові потоки: джерела доходу, які працюють для тебе
                  найкраще.
                </li>
                <li>
                  Блоки та обмеження: що заважає реалізації та як це подолати.
                </li>
                <li>
                  Важливі періоди: коли діяти, щоб досягти максимального
                  результату.
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use xlink:href="./img/sprite.svg#icon-group-2"></use>
              </svg>
              <h4 class="vedic-card-title">Дитяча натальна карта</h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> персональна
                медитація (для батьків або для дитини)
              </p>
              <p class="vedic-price">2000 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use xlink:href="./img/sprite.svg#icon-carbon-time"></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 60 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">
                Натальна карта (повний розбір) — ключ до розуміння себе
              </h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Характер, таланти, сильні та слабкі сторони дитини: що в ній
                  особливого.
                </li>
                <li>
                  Як правильно підтримати її розвиток не нав’язуючи своїх
                  очікувань.
                </li>
                <li>
                  Оптимальне виховання відповідно до її енергетики щоб розкрити
                  її потенціал.
                </li>
                <li>
                  Творчі схильності: визначимо куди направити дитину: у спорт,
                  на танці чи музичну школу.
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="vedic-cards-li">
            <div class="white-block">
              <svg class="cards-stars" role="img" aria-label="Сузір'я">
                <use xlink:href="./img/sprite.svg#icon-group-3"></use>
              </svg>
              <h4 class="vedic-card-title">
                Сумісність з партнером (синастрія)
              </h4>
              <p class="vedic-card-info">
                <span class="dif-color">У подарунок:</span> медитація для
                гармонізації стосунків
              </p>
              <p class="vedic-price">2000 UAH</p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Sound icon">
                <use xlink:href="./img/sprite.svg#icon-icons-sound"></use>
              </svg>
              <p class="vedic-cards-content">
                Формат: аудіозапис або консультація в Zoom
              </p>
            </div>
            <div class="vedic-little-cards">
              <svg class="vedic-design-svg" role="img" aria-label="Clock icon">
                <use xlink:href="./img/sprite.svg#icon-carbon-time"></use>
              </svg>
              <p class="vedic-cards-content">Тривалість: 60 - 70 хв.</p>
            </div>
            <div class="vedic-last-card-box">
              <h5 class="vedic-last-card-box-title">Гармонія в стосунках</h5>
              <ul class="vedic-last-card-box-list">
                <li>
                  Розкриття ваших стосунків — як побудувати глибокий емоційний
                  зв'язок та розуміння.
                </li>
                <li>
                  Кармічні уроки — дізнайтесь, які важливі завдання ви вирішуєте
                  разом, і як це може змінити ваші стосунки.
                </li>
                <li>
                  Як покращити стосунки — ефективні практики для створення
                  гармонії, взаєморозуміння та близькості.
                </li>
                <li>
                  Аналіз кризових моментів — які періоди у ваших стосунках
                  можуть бути найбільш складними та як їх подолати.
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="custum-btn-pos telegram-btn-text">
      <a
        class="telegram-btn"
        title="Telegram link"
        href="https://t.me/zviedarubka"
        rel="noopener noreferrer"
      >
        Записатись
        <svg class="telegram-svg" aria-label="telegram">
          <use
            href="./img/sprite.svg#telegram-icon"
            width="30"
            height="30"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</section>
